[2017-01-18 02:35] RLwu opened #1 "有提供修改default值的接口么？比如：innerRowActions & filter"
想要去掉默认的操作列，还有是不是可以加大于1的filters？

[2017-01-18 02:58] njleonzhang commented on #1
什么叫列操作？你是说列的排序？排序是element-ui的功能，不想要就把sortable属性去掉就好了。

[code]

什么叫大于1的filters？你需要多个过滤input？

[2017-01-18 03:01] RLwu commented on #1
![image](https://cloud.githubusercontent.com/assets/21750252/22049268/3bf9ed40-dd6d-11e6-8f7c-0402efd134c6.png)
![image](https://cloud.githubusercontent.com/assets/21750252/22049285/51783a28-dd6d-11e6-9be2-87e121327908.png)
怎么把default值换掉？filters好像只能有一个

[2017-01-18 03:04] RLwu commented on #1
我需要在两列加过滤

[2017-01-18 03:07] njleonzhang commented on #1
现在的过滤会默认过滤所有的属性。你怎在看dist代码，在sorce里看吧。

[2017-01-18 03:16] RLwu commented on #1
好吧，sorce里看到的可能满足不了需求。多谢。。

[2017-01-18 03:21] #1 closed

[2017-01-18 04:24] RLwu commented on #1
多谢，已经解决了

[2017-01-19 03:33] ibullet-chzn opened #2 "define the actions for every row"
If I don't need to operate, how can I cancel the last column

[2017-01-19 04:45] njleonzhang commented on #2
We will update and provide more options.

[2017-01-20 09:25] RLwu commented on #2
@ibullet-chzn You can modify the DataTables.vue file to delete opration .
@njleonzhang But how can I add another filters that has different check.code ?

[2017-01-20 10:00] njleonzhang commented on #2
@RLwu I am working on the project, and try to make more things configurable, including wether showing action bar, multi-column filter and so on, I will finish this in few days. If you have more requirements, please just open a issue, I will consider it. Of coruse, PR is welcomed.

[2017-01-20 15:45] njleonzhang commented on #2
@ibullet-chzn with the newest version, use `has-action-col`, you can hide action col.

[2017-01-22 06:06] RLwu commented on #2
OK  thanks~   I'm happy if I can 😁Looking forward to new version.

[2017-01-22 06:20] njleonzhang commented on #2
貌似都是中国人。。新版本已经上线了。

[2017-01-22 06:24] RLwu commented on #2
辛苦~  还是喜欢讲中文啊！O(∩_∩)O

[2017-01-22 06:26] #2 closed

[2017-02-06 12:17] gucy1972 opened #3 "请求添加报表导出为pdf和excel的功能"

[2017-02-07 01:23] njleonzhang commented on #3
我可以将符合过滤出条件的数据通过事件暴露出来，然后你自己调用第三方库去导出pdf和excel。
jsonToExcel的库：https://github.com/agershun/alasql

你觉得这样怎么样？

[2017-02-07 03:58] gucy1972 commented on #3
思路相同，我也在github上看第三方的export库。vue-data-tables这个库不错，赞!

[2017-02-07 05:02] njleonzhang commented on #3
@gucy1972 谢谢使用，我有空把数据暴露出来，你有空也可以提个pr啊。。。:)

[2017-02-07 11:59] loliconer opened #4 "没有监听selection-change事件"
表格可以添加多选列，但是没有监听selection-change事件，这样如果要获取多选的结果就没办法了

[2017-02-07 15:04] njleonzhang commented on #4
恩，是的。我回头加下，你提pr贡献下也行哎,^_^

[2017-02-07 16:56] njleonzhang commented on #4
Done in https://github.com/njleonzhang/vue-data-tables/commit/daef9b8d57502bd4c50668a1d0544b6d830e8e7e

[2017-02-07 16:56] #4 closed

[2017-02-07 16:56] njleonzhang commented on #3
Done in https://github.com/njleonzhang/vue-data-tables/commit/daef9b8d57502bd4c50668a1d0544b6d830e8e7e

[2017-02-07 16:56] #3 closed

[2017-02-24 15:23] Lazac92 opened #6 "Sorting error"
If i want to short my table, i get this warning to the console:

[Vue warn]: You may have an infinite update loop in a component render function.
(found in component <DataTables>)

I checked your demo, and the 1st table do the same, the others don't.

[2017-02-25 06:45] #6 closed

[2017-02-25 06:46] njleonzhang commented on #6
@Lazac92 Thanks, fix it. And release new version, please update the lib via npm and try again.

[2017-02-27 08:43] Lazac92 commented on #6
Thank you!

[2017-02-28 02:03] jiriko opened #7 "Remote filtering and searching"
Hi,

How to do service side processing for search and filtering?

[2017-02-28 02:17] njleonzhang commented on #7
This component need the data source. Look at the demo. Just init your `data` in created by ajax request. [demo line171](https://github.com/njleonzhang/vue-data-tables/blob/master/example/docs/en.vue#L171)

[code]

[2017-02-28 02:25] njleonzhang commented on #7
This lib focus on client filter and search. for server side process, you can just use element-ui's `el-table`. every time you make search or filtering, just send a request to sever and update the data, then make the `el-table` re-render. You need handle the pagination yourself, you refer to this lib's source code.

For this lib, if I provide a method for disable client search and filter, and just

[2017-02-28 02:37] jiriko commented on #7
I was thinking of something similar to JQuery DataTables server side processing.
I thought I missed something.

Thanks man.
Great job btw!

[2017-02-28 02:37] #7 closed

[2017-02-28 10:29] tnerbovik opened #8 "console.log in innerPaginationDef in DataTables.vue"

[2017-02-28 11:24] njleonzhang commented on #8
Tnx! have removed it.  eb0106ab14db08e8058b5586197b5665ac4cc8bc

[2017-02-28 11:24] #8 closed

[2017-03-01 21:21] tnerbovik commented on #8
(There is also the same in the dist-folder)

It is a great package by the way. Thanks!

[2017-03-02 01:20] njleonzhang commented on #8
@tnerbovik I have not released this fix. release now.

[2017-03-06 10:54] ecerroni opened #9 "Search placeholder"
Please, make it possible to pass a placeholder to the search input item. Something like this for example:

[code]

[2017-03-06 10:56] ecerroni opened #10 "Actions column to be fixed"
Please make it possible to fix the action column with the Elements UI `fixed` prop.

[2017-03-06 11:20] njleonzhang commented on #10
Tnx for suggestion, will make it soon

[2017-03-07 15:43] njleonzhang commented on #10
@ecerroni `fixed` is attribute of `el-table-column`, you should use it directly on `el-table-column`.

[2017-03-07 16:48] njleonzhang commented on #9
release in `1.0.7`.

[2017-03-07 21:33] #9 closed

[2017-03-16 15:04] Sancho66 opened #16 "Data Table doesn't refresh after update"
Hi guy,

First , thanks for your work , it is very good.
I have one problem with data table when I update a row in the table.

My "data table" is a getter object in vuex and when I use the mutation "UPDATE_TABLE" to update one row in the data table object , the table render does not take into account the update.
I checked my data Table and it is well updated.

After update, Curiously , when I clic

[2017-03-16 15:07] njleonzhang commented on #16
@Sancho66 Can you show me your sample code?

[2017-03-16 15:28] Sancho66 commented on #16
tab-properties-list.vue

[code]

actions.js
[code]

store.js
`
[code]

The dataTable object name is "tableInit" and the mutation is "UPDATE_PROPERTY" .
Note :  when I add one row ( ADD_PROPERTY_TABLE ) the table render works well.

[2017-03-16 16:22] njleonzhang commented on #16
@Sancho66 it's 0:00 in my time zone. I will try to check you code torrow.
BTW, when you edit one row of table, you should use assign, not =.

Object.assign(row, data)
Can not be
row = data

Maybe you can check this point.

[2017-03-16 16:49] Sancho66 commented on #16
I replaced :
[code]

by :

[code]

@njleonzhang  Thanks you very much. The Object.assign function fix the problem.

[2017-03-16 17:03] njleonzhang commented on #16
:)

[2017-03-16 17:03] #16 closed

[2017-03-21 14:05] strebl opened #18 "JSBin"
Hi @njleonzhang

I have a problem with vue-data-tables. To demonstrate my issue I wanted to create a JS Bin.
Did I do something wrong or isn't it possible to use vue-data-tables without module bundler?

[2017-03-21 16:47] njleonzhang commented on #18
It's export as UMD, so I think it should be able to work without bundle, but I never tried to do that. you send me a email with your issue description and sample code so that I can help to solve the problem. My email: zpczjl@126.com

[2017-03-21 22:31] strebl commented on #18
Thanks @njleonzhang for your offer to help me!

Yeah I was able to include it. But I think vue doesn't know about vue-data-tables.

I inserted all 3 dependencies into the html.
[code]

Vue works.
Element UI works.
But vue-data-tables failes: `Unknown custom element: <data-tables> - did you register the component correctly?`

But that was not my problem. Just wanted to create a demo for my problem.

[2017-03-22 04:05] njleonzhang commented on #18
@strebl I make a [codepen](https://codepen.io/leonz/pen/peLVrK?editors=1010) for you. you can use copy the code to `jsbin` to describe your issue.

[2017-03-22 08:15] strebl commented on #18
Thanks @njleonzhang for your help!

Now to my real problem:
I'm using the prop `search-def` and leveraging the event `selection-change`. Using booth at the breaks the selection feature.

In my selection-change handler I set an array to the currently selected rows:

[code]
That works fine until I'm using the `selectedComputers` elsewhere.

Even if it's just something simple like this breaks it:

[c

[2017-03-22 08:36] njleonzhang commented on #18
@strebl Yeah, I got it. an interesting issue. It may cost some time to fix. :-(

[2017-03-22 10:26] njleonzhang commented on #18
@strebl fixed this issue, would you please have a try with new version 1.1.0

[2017-03-22 10:27] strebl commented on #18
No problem, take your time. I just wanted to conditionally disable a button.
Using the array within a function is no problem. Just using it inside a template breaks it.

[2017-03-22 10:29] strebl commented on #18
Oh was typing^^ That was fast! Will test it and will give you feedback, thanks!

[2017-03-22 10:39] strebl commented on #18
It work, thanks @njleonzhang!

[2017-03-22 10:39] #18 closed

[2017-03-28 04:57] sxhjlzl opened #19 "How to display the picture"
How to display the picture？ Thank you

[2017-03-28 05:21] njleonzhang commented on #19
你好请看下el-table怎么显示的，一样的就行了。我不太方便给你提供例子，自己找找看

[2017-03-28 05:23] sxhjlzl commented on #19
谢谢，还有个问题我想请教下，就是操作项的样式是否可以自己定义，比如定义成el-button 按钮效果

[2017-03-29 07:16] njleonzhang commented on #19
暂时没有支持你说的这个功能，你能具体描述下，我后面考虑添加。
你是需要自定义action column里面按钮的样式么

[2017-03-29 07:18] sxhjlzl commented on #19
是这个想法，最好可以自定义样式，显的比较灵活，我源码了，发现样式是写死的text类型的button，

[2017-03-29 07:21] njleonzhang commented on #19
好的，我最近没空改，你有空也可以帮忙做下，提个PR :) . 或者等我过段时间来做^_^

[2017-03-29 07:25] sxhjlzl commented on #19
好的，有空的话我仔细看下源码，考虑下怎么改

[2017-03-29 12:01] Grawl commented on #10
@njleonzhang but how can I do this? Action column is generated by `vue-data-tables`, not Element UI.

[2017-03-29 17:24] sorxrob commented on #19
Oh my God why

[2017-03-30 00:26] njleonzhang commented on #10
@Grawl You are right. will support this later. Of course, PR is welcomed.

[2017-03-30 00:28] njleonzhang commented on #19
@sorxrob :)

[2017-04-01 07:01] sxhjlzl opened #20 "服务端分页如何设置总条数和获取当前页号，当前每页数呢"
服务端分页如何设置总条数和获取当前页号，当前每页数呢

[2017-04-01 23:53] njleonzhang commented on #20
这个要看你的业务需求了。这个库现在不一定能支持，你具体描述下，我们可以讨论下

[2017-04-02 06:51] sxhjlzl commented on #20
是这样的。
现在的分页是在客户端实现的，也就是说在前端实现的，这样的方法在数据量不大的情况下完全可以满足需求，但是大部分需求数据量应该都会比较大，在前端一次性拉取所有数据，通过前端分页性能不是太好，就需要把分页参数传递给服务端，让服务端去做分页，这个就需要把一些分页参数传递给服务端，服务端也需要返回给前端一些分页参数，需要传递给服务端的参数有：1.当前页号、2.当前每页数，如果分页要放到服务端去做，当然排序的问题也需要放到服务端，要不然排序就是有问题，前端排序的仅仅是当前页查出来的数据的排序，服务端排序就需要再多加2个前端可以获取到传递给服务端的参数：1.排序列。2.排序类型（desc，asc）.
 服务端需要做的事情就是返回数据列，和返回数据总的条数，也就是分页控件里面的total，显示数据总数。赋值给前端控件。
基本上就这些啦。

[2017-04-03 08:38] superqbb commented on #20
这个框架不支持后端ajax分页吗？？

[2017-04-04 00:06] njleonzhang commented on #20
恩，最近我实在没时间细想这个问题。但是在我看来，分页的细节是业务逻辑，需要自己处理。库要做的只是现实数据……所以，如果说这个库不能支持后台分页，问题在于根据后来返回的页码去显示正确的页码，这个问题可能可以通过el-pagination 的参数解决。

[2017-04-04 00:10] njleonzhang commented on #20
如果完全是，后台决定我觉得那没必要用这个库了啊，你直接用element-ui的组件去做就行了。

[2017-04-04 08:54] ac88 opened #21 "建议增加 row-key设置"
http://element.eleme.io/#/zh-CN/component/table

row-key

[2017-04-05 01:44] Grawl opened #22 "Support Element UI Tables component attributes"
I just want to use row status class via `:row-class-name` attribute but it's not supported in on `<data-tables>` element but works with `<el-table>`.

So, I think there is no supported `<el-table>` attributes at all.

[2017-04-05 06:52] bboywulong opened #23 "建议能设置操作按钮type属性"
1. 建议能够设置el-button内的type属性,而不是单一的只有text类型
2. 建议能设置"操作"列的fixed属性,实际操作中"操作"列应该第一眼给用户看到

[2017-04-07 04:19] Pitu opened #24 "Problem searching on every column"
Hello!

I installed your module and I'm using it on vue2. I was able to add the table and fill it with data, but I can't seem to make the search work. In the documentation says that the default value of `props` is `All` which I assume means it searches on every column? If that's the case, it's not working for me.

I tried passing an array with my column `props` but it's not working either. Right n

[2017-04-10 01:32] njleonzhang commented on #23
感谢建议，会尽快更新

[2017-04-10 01:34] njleonzhang commented on #22
@Grawl I haven't support all attributes of el-table currently. :)

[2017-04-10 01:35] njleonzhang commented on #21
OK, will update soon

[2017-04-10 01:37] njleonzhang commented on #24
@Pitu would you please make a online sample?

[template](https://codepen.io/leonz/pen/peLVrK)

[2017-04-10 08:44] 531431988 opened #25 "筛选能加个下拉吗？自己加了个时间筛选"
如题，自己加了个时间筛选成功了，下拉没加出效果，尴尬，第一次用

[2017-04-10 09:05] njleonzhang commented on #25
能具体说说么。。。听起来是个高端需求。

[2017-04-10 09:07] 531431988 commented on #25
老大，你现在不是有个复选框条件筛选吗？在旁边在加一个下拉条件筛选，我加了没成功，但我自己加了个时间筛选的成功了

[2017-04-10 09:11] njleonzhang commented on #25
看来有必要提供一个自定义筛选的方案了，人人都有自己想要的筛选方式这样加下去也不是办法。

[2017-04-10 09:12] 531431988 commented on #25
对对，一般的筛选就是日期（开始结束时间  elementui有插件） 下拉   复选   单选   搜索，就够了，这个data-tables确定很不错，我是菜逼，成功用上，但是筛选这里不太会改，只改了一个日期的

[2017-04-10 09:27] njleonzhang commented on #25
我会考虑下怎么做的通用一点，让需要的人自定义，现在觉得我做复选过滤就是个错误的决定。。。

[2017-04-10 09:28] 531431988 commented on #25
感谢大神，坐等成果

[2017-04-10 09:29] njleonzhang commented on #25
只是现在骑虎难下，比较难改。。。。

[2017-04-10 09:30] 531431988 commented on #25
这这这……就尴尬了，大神你是最棒（胖）的，加油！

[2017-04-10 09:47] njleonzhang commented on #25
。。。然后我并不是大神，我试试，一起学习。

[2017-04-11 01:39] 531431988 commented on #25
其实你这个在加两个东西就完美了，一个时间筛选（开始结束），一个下拉筛选（自己配置下拉数据），所有的筛选条件都可以自由设置是否显示，这样就完美了

[2017-04-11 01:43] njleonzhang commented on #25
那你是觉得的完美，别人不一定这么觉得比如突然有人又说需要个范围选择，这个属于业务需求不应该由我这个库来处理。所以我应该定义好通用的接口，让用户能够自己去实现过滤。

[2017-04-11 01:45] 531431988 commented on #25
时间就是一个范围呀，还有下拉筛选是可以做地区的，这也是范围，在配上精确搜索，其实已经足够了，用户很懒不要给用户太多的选择，这些都是和之前的功能一样，可以自定show

[2017-04-11 01:46] njleonzhang commented on #25
时间的格式和普通的不一样的，我只是举个例子，你没办法知道客户的需求是什么。

[2017-04-11 01:47] 531431988 commented on #25
好吧，大牛期待神作

[2017-04-11 13:42] Lazac92 opened #26 "Sort by default"
Can I use the element's "default-sort" property in a data-tables?

[2017-04-12 01:21] njleonzhang commented on #26
will add recently. PR is welcomed.

[2017-04-12 14:45] Lazac92 opened #27 "Table row hover - CSS issue"
On every 2nd row hover, the background didn't change, because the default color's css selector is stronger.

This will override:
`.el-table--striped .el-table__body tr:nth-child(2n) td {
    background: #FAFAFA;
}`

this:
`.el-table--enable-row-hover tr:hover>td {
    background-color: #eef1f6;
}`

Possible solution:
`.el-table--enable-row-hover  .el-table__body tr:hover>td {
    background-color:

[2017-04-15 08:44] njleonzhang commented on #27
I am not sure if this is a issue, but it seems not related to `vue-data-tables` but `el-table` itself.
Please look at http://element.eleme.io/#/en-US/component/table#striped-table

[2017-04-15 09:26] njleonzhang commented on #23
add in 1.1.1

[2017-04-15 09:26] #23 closed

[2017-04-15 09:26] njleonzhang commented on #10
add in 1.1.1

[2017-04-15 09:26] #10 closed

[2017-04-15 09:27] njleonzhang commented on #21
add in 1.1.1 by prop `tableProps`

[2017-04-15 09:27] #21 closed

[2017-04-15 09:27] njleonzhang commented on #22
add in 1.1.1 by prop `tableProps`

[2017-04-15 09:27] #22 closed

[2017-04-15 09:29] njleonzhang commented on #19
add support for customizing action button style in 1.1.1

[2017-04-15 09:29] #19 closed

[2017-04-16 13:33] Chalkin opened #28 "Custom col template"
How can I modify the output of data in a column?

Example 1: I'm getting a url from the API and I would like make it a full working link:
`<a href="url from api">something</a>`

Example 2: I receive the first name and last name as seperate values. I would like to join them to first name + last name and display them in one column

[2017-04-16 13:47] Chalkin commented on #28
To answer myself. As described in [element-ui docs tables](http://element.eleme.io/#/en-US/component/table#fluid-height-table-with-fixed-header-and-columns) I can add a scoped template to achive it.

Can be closed.

[2017-04-18 05:18] satyachoudhury opened #29 "Not able to add any options"
If I try to add any options to datatable. I get this error:
Uncaught DOMException: Failed to execute 'setAttribute' on 'Element': ',' is not a valid attribute name.

This does not work. I get the above error:
[code]
This works:
[code]

Like I said I am not able to add any options at all.

Thanks for this excellent component.

[2017-04-18 07:10] njleonzhang commented on #28
Hi TNX for your answer

[2017-04-18 07:10] #28 closed

[2017-04-18 07:19] njleonzhang commented on #29
Please remove the , from template. And try again. The error has told you ^_^

[2017-04-18 08:26] Lazac92 commented on #27
Its working on the `el-table`, but not in `vue-data-table`. Thats why I think.

[2017-04-18 11:40] njleonzhang commented on #27
OK, I will check later

[2017-04-18 22:49] satyachoudhury commented on #29
That worked. Thank you so much.

One more question:
In search function it's not taking an array of columns. Here is an example:

[code]
When I try to use array, I get the following error:

What is the purpose of offset?

[2017-04-19 02:08] MrSuperLi opened #30 "checkbox-filter-def: 来定义选择过滤的控件"
这个控件，是否存在一个bug？
例子中是写死的，如果我要异步拉取选项会怎样？
通过试验，写死的可以出现这个控件，但是异步之后没有任何显示
问题原因：checkbox-filter-def属性的变化没有让组件更新，这个属性的逻辑处理是否写在mounted钩子里？
如果是，这可能是问题出现的原因，可以使用深度的watch的再次执行该属性的逻辑

[2017-04-19 02:24] MrSuperLi commented on #30
看了源码：
[code]
这是写在created钩子的，并且在watch上只是监听分页的属性，没有监听checkbox属性：

[code]
希望完善一下

[2017-04-19 02:51] MrSuperLi commented on #30
不过可以曲线解决：
使用v-if来让组件重新挂载
比如：
[code]
只要watch我们的checkbox选项，首先showTable默认为true。如果checkbox选项变化，就将showTable先设置为false,然后再设置为true:
[code]
这样就会让组件重新挂载，created就会重新执行，checkbox filter也就可以使用

[2017-04-19 03:44] njleonzhang commented on #29
OK, I will check later

[2017-04-20 02:20] njleonzhang commented on #30
恩  没考虑到你说的这样的需求，会尽快改成你说的这个逻辑，当前情况下，可以用`v-if`绕过这个问题，不过毕竟效率会比较差。另外欢迎PR。

[2017-04-20 03:41] njleonzhang commented on #29
It seems some of your `props` does not exist . would you please check wether `'name', 'email', 'birthdate', 'age'` all exist in your data source

[2017-04-20 03:56] njleonzhang commented on #30
以前的逻辑是可以实现动态改变checkbox filter的。后来由于一个#18，我改掉了原来的逻辑https://github.com/njleonzhang/vue-data-tables/commit/e6ace026ceb2ec82f5bfa02c462cded4328912b1，
看来需要好好研究下了。

[2017-04-20 03:57] #29 closed

[2017-04-20 06:00] njleonzhang commented on #27
@Lazac92 fixed after update `element-ui`. It should be a element-ui bug and now fixed. I haven't update element-ui version for example.

[2017-04-20 06:00] #27 closed

[2017-04-20 06:00] njleonzhang commented on #24
closed for no response

[2017-04-20 06:00] #24 closed

[2017-04-21 06:20] njleonzhang commented on #26
will work 2.0 and you can refer to 28f8aa994de98cfb35c24dcac77d31d3197f9f03

[2017-04-21 06:21] #26 closed

[2017-04-21 09:42] njleonzhang commented on #25
will be available in 2.0, and add in 9cd9231c1619350b16d57675bd932187bac22f7b. refer to [sample](https://github.com/njleonzhang/vue-data-tables/blob/2.0/play/App.vue#L27)

[2017-04-21 09:42] #25 closed

[2017-04-22 06:56] njleonzhang commented on #18
@strebl this issue should be fixed in this way using a data prop. use a function as prop may cause performance issue.
refer to https://jsfiddle.net/zpczjl/8340vm0x/ and b0355119e067f176fe1c12a0851b3e3b9318f1ae

[2017-04-22 07:05] njleonzhang commented on #30
fixed and will release in 2.0

[2017-04-22 07:05] #30 closed

[2017-04-24 08:39] strebl commented on #18
Thanks for the update!

[2017-04-25 08:11] anysome opened #31 "sort-method is not call"
I had el-table-column with sort-method works fine in el-table,
after moved into data-tables it's not called.

[2017-04-25 19:23] pilsoftTeam opened #32 "Events for pagination"
Is there a way to trigger the pagination event current-change?
Thanks

[2017-04-26 01:23] njleonzhang commented on #31
will add in next version

[2017-04-26 01:24] njleonzhang commented on #32
will proxy this event in next version.

[2017-04-26 01:24] njleonzhang commented on #20
暂时不会支持后端渲染了。

[2017-04-26 01:24] #20 closed

[2017-04-27 00:37] jzucadi opened #33 "Is there a way to make the search NOT case sensitive?"
Is there a way to make the search NOT case sensitive?

[2017-04-27 01:21] njleonzhang commented on #33
You can define your own filterFunction for seach box

[2017-04-27 01:21] njleonzhang commented on #33
、、、
searchDef () {
      return {
        placeholder: 'Search',
        width: 0,
        filterFunction (el, filter) {
          return Object.keys(el).some(key => {
            return String(el[key]).toLowerCase().indexOf(filter.val.toLowerCase()) > -1
          })
        },
      }
    },
、、、

[2017-04-27 01:22] #33 closed

[2017-04-27 17:11] jzucadi commented on #33
Thanks, very helpful.

[2017-05-04 01:56] thearabbit opened #34 "Could example to use `dropdown list` in `row-action-def`?"
I would like to use `dropdown list` in `row-action-def`

![image](https://cloud.githubusercontent.com/assets/4495160/25688215/97da3362-30a7-11e7-8d03-8d5db3010964.png)

Please example

[2017-05-04 02:46] thearabbit opened #35 "Could search with `format date field`?"
Could search with `format date field`?

[2017-05-04 16:27] gouchangxing commented on #32
请问下一个版本什么时候发布？

[2017-05-05 01:07] thearabbit opened #36 "Problem with `Meteor + Vue-Meteor`."
I base on `Meteor + Vue-Meteor`.
Get warning
[code]
But it work fine

[2017-05-05 10:06] oleg-nogin opened #37 "Set total count of tableData"
Hello, how can I set ":total" value for pagination. In the src pagination total is computed value, but is there any way to change it?

thx =)

[2017-05-05 12:08] njleonzhang commented on #32
I am really very busy on company project, I will try to release ASAP

[2017-05-05 12:09] njleonzhang commented on #35
can you make a example? maybe you can use custom function for search to make any search pattern you want

[2017-05-05 12:11] njleonzhang commented on #37
You can change the data to change the total. As you know total is equal to data's length

[2017-05-05 12:15] njleonzhang commented on #36
Tnx for report. it's not critical, so will work on it later. PR is welcomed

[2017-05-05 12:23] oleg-nogin commented on #37
@njleonzhang

Yes, I can do it. API response often contain items(items.length = 30) and totalcount(for example, 1000).Is there any way to set :total = totalcount from API response? If your answer is the only rigth way, close issue please =)

[2017-05-05 12:52] njleonzhang commented on #37
What you want is a server side pagination, this library is not for that.

[2017-05-05 12:52] #37 closed

[2017-05-06 00:41] thearabbit commented on #36
Thanks for your reply, OK

[2017-05-16 10:38] thearabbit opened #38 "Could I use `transition` when insert/update/remove row?"
Could I use `transition` when insert/update/remove row?

[2017-05-17 06:15] njleonzhang commented on #38
what you mean by `transition`, the css property?

[2017-05-17 07:22] thearabbit commented on #38
yes, animate css.

[2017-05-17 07:38] njleonzhang commented on #38
you may need leverage element-ui table property: `row-class-name`. It can not use in `vue-data-tables` in this version, and will be able to work in next version. You can take a look:
https://github.com/njleonzhang/vue-data-tables/tree/2.0

[2017-05-17 08:38] thearabbit commented on #38
thanks, waiting...

[2017-05-18 08:27] cloudty opened #39 "如何获得所选单元格?限定操作按钮的显示,点击"添加"后在最后一列"
感谢你的贡献，data-tables很美观，目前看起来也很好用。
我在使用中遇到点问题，希望能帮我解答下
如题
1、我想在点击某单元格时能通过触发方法,获取该单元格内容,或者说将该单元格修改为input 状态,该如何办到?
2、在某些情况下，我并不想action-col内的按钮显示，我该如何操作？
3、点击某个按钮之后，能否在table最下方或者最上方添加一行均为input 单元格的内容列？

[2017-05-18 08:40] njleonzhang commented on #39
1. 获取单元格内容是比较容易做到了，目前我好想没有发送单元格点击的事件，所以你好像拿不到，这个可以下个版本加一下。想把单元格变成input状态，这个可能要看下element-ui是否支持。

2. 有时候想，有时候不想要么？这个暂时做不到，等我有空我可以想想能不能实现。
3. 看起来你是想在表里添加一项，那么你可以弹出一个Dialog 对话框，在里面做一个表单来添加。（我自己是这样实现的）

[2017-05-19 02:38] cloudty commented on #39
谢谢你的回答
1、OK，我去看看element-ui
2、就是能不能根据data 中某个字段做为条件，去判定？
3、可恶的产品经理，嫌弃频繁的弹窗

[2017-05-19 02:53] njleonzhang commented on #39
@cloudty 关于第二点，简单一想是这样的，等我有空好好想一下:) 最近公司项目太忙了。如果你能帮忙pr就最好了:)

[2017-05-20 02:35] #39 closed

[2017-05-20 14:28] thearabbit opened #40 "support server side?"
I base on `Meteor`.
I have problem with a big data that I get from Mongo.
Support server side or a big data?

[2017-05-21 01:53] thearabbit opened #41 "could you detail how to use attr of `<el-table-column>`?"
Please detail how to use attr of `<el-table-column>` such as `prop, label, sortable....`.
Or check on `Element UI`???

[2017-05-22 01:44] cloudty commented on #39
已经换用element 的UI了.越到后面发现需要的功能越来越多了.
麻烦将这个问题关闭吧

[2017-05-23 08:12] njleonzhang commented on #40
This lib can not support server side data. I planned to make another lib to support

[2017-05-23 13:16] thearabbit commented on #40
Thanks for your reply. before I use `meteor tabular` it is very easy [(Tabular)](https://atmospherejs.com/aldeed/tabular)
Waiting you

[2017-05-24 11:21] FisNew commented on #41
And I have the same problem! How to use the attr 'width' of <el-table-column>?

[2017-05-24 11:52] #40 closed

[2017-05-25 02:12] njleonzhang commented on #39
好的  这个组件并没有特别的可定制，可以参考源码实现自己的。:)

[2017-05-25 03:05] FisNew opened #43 "`<el-table-column>`width属性"
不知道大佬发现没有，`<el-table-column>`width属性有BUG，无论设置什么值，都会变的很大，不知道是不是我使用的方式不对？

[2017-05-25 09:34] njleonzhang commented on #43
我晚上看一下 可以提一个sample么？

[2017-05-25 09:36] njleonzhang commented on #41
hi， would you please make a online sample?
refer to https://codepen.io/leonz/pen/peLVrK?editors=1010

[2017-05-25 15:11] njleonzhang commented on #43
https://codepen.io/leonz/pen/peLVrK?editors=1010 我用了 有什么问题么？有问题也是element-ui的啊

[2017-05-25 15:11] #43 closed

[2017-05-25 15:14] njleonzhang commented on #38
Hi thearabbit， this feature already released in 1,1, you can use `tableProps`
https://github.com/njleonzhang/vue-data-tables/releases/tag/1.1.1

[2017-05-26 01:39] chenyihao2621023 opened #44 "支持远程筛选吗"
比如，从别的地方，传过来一个 {value:'未解决'}，我想将value这个字段，作为表格的筛选条件，有接口可以调用吗？ 麻烦啦

[2017-05-26 02:44] njleonzhang commented on #44
自定义的筛选条件么。暂时好像没有支持，后面会考虑加入。你也可以看下源码，自己改一下还是挺容易改的。:)

[2017-05-26 02:48] thearabbit commented on #38
Good job, I will check it soon 👍

[2017-05-26 03:32] chenyihao2621023 commented on #44
谢谢您的及时回答，还有 这个组件真的很棒！

[2017-05-26 06:43] FisNew commented on #43
谢谢，已经解决了，element-ui的原因。

[2017-05-26 06:48] njleonzhang commented on #44
@chenyihao2621023 谢谢

[2017-05-26 06:48] #44 closed

[2017-05-26 06:48] #38 closed

[2017-05-28 05:14] alejandrot3 commented on #41
I'm having an issue with creating a simple table. and My issue is with the el-table-column. somehow is telling me is an unknown custom element.
The weird thing is, I added all the code required. is creating the rows, is even is creating the action column. but when I try to define my columns, its just saying is an unknown custom element. its driving me insane. have anyone seen this issue?

[2017-05-28 11:12] thearabbit commented on #41
I would like to detail how to use prop of `<el-table-column>` in readme.

[2017-05-31 01:28] njleonzhang commented on #41
@thearabbit  it is `element-ui` component. please refer to its document.
http://element.eleme.io/#/en-US/component/table#table-column-attributes

[2017-05-31 01:28] #41 closed

[2017-05-31 12:39] thearabbit commented on #41
Thank again, waiting for `get data from server`!!!

[2017-06-02 10:14] trionfo1993 opened #45 "个别属性为何不使用计算属性"
在使用中遇到一些问题，由于我有一些数据也是动态算出来的，请问一下比如 innerCheckboxFilterDef 这个属性为什么不改用计算属性，而在created 的时候就定义好？

[2017-06-02 11:29] njleonzhang commented on #45
这个其实可以使用计算属性的，2.0的代码我已经改成计算属性了。:-)

[2017-06-02 12:29] #45 closed

[2017-06-06 13:44] yusser opened #47 "Why not default filters function to format?"
There is a way to use default filters function to format table contents? The ":formatter" function is not a goog way for many cases.

[2017-06-06 15:37] yusser commented on #47
Sorry, i didn't understand how it works.

[2017-06-06 15:37] #47 closed

[2017-06-23 03:02] wutingye opened #48 "建议支持自定义actions按钮type属性"
建议actions(which belongs to table)按钮支持el-button的type属性，而不是默认不可修改的type='primary'
just like row-actions(which belongs to row)

[2017-06-23 06:09] njleonzhang commented on #48
恩  2.0在开发中会支持的。你可以在2.0 branch上看到的

[2017-06-26 06:13] zyJGH commented on #48
操作列 里面的button 这么添加?

[2017-06-26 06:14] njleonzhang commented on #48
@zyJGH 你这句话什么意思。。。

[2017-06-26 06:22] zyJGH commented on #48
![image](https://user-images.githubusercontent.com/19925628/27526815-d475ff3e-5a7a-11e7-84e4-53248b345dde.png)

[2017-06-30 08:24] marlonbuendia opened #49 "How to set to English?"

[2017-06-30 08:34] njleonzhang commented on #49
example:
https://github.com/njleonzhang/vue-data-tables/blob/master/example/docs/en.vue#L158

[2017-06-30 09:38] chenjiaj commented on #34
I have the same question

[2017-06-30 09:46] njleonzhang commented on #34
will support customize action in 2.0

[2017-06-30 09:48] chenjiaj opened #50 "请问怎么自定义下拉菜单过滤器"
![image](https://user-images.githubusercontent.com/8109018/27730508-035f56f8-5dbc-11e7-9815-d731ef771ea4.png)
请问有没有例子或者详细一点的文档介绍自定义过滤器，我想定义两个下拉菜单过滤器 请问该怎么写，急需，麻烦解答一下，谢谢

[2017-07-01 13:38] marlonbuendia commented on #49
import lang from 'element-ui/lib/locale/lang/en'
import locale from 'element-ui/lib/locale'

locale.use(lang)

Got it! thanks!

[2017-07-03 01:41] #49 closed

[2017-07-03 01:41] njleonzhang commented on #49
welcome

[2017-07-03 01:42] njleonzhang commented on #50
这个功能2.0才会有，1.0里的这个自定义过滤方法，指的是过滤函数可以自定义。

[2017-07-03 01:43] njleonzhang commented on #50
你急需的话，可以参考2.0branch上的代码

[2017-07-04 08:04] RLwu opened #51 "你好，请问怎么设置固定表头height？"
![image](https://user-images.githubusercontent.com/21750252/27820793-8c02bd60-60d2-11e7-84a3-43f0ea4f022a.png)

[2017-07-04 09:56] njleonzhang commented on #51
2.0里支持，急着用，可以参考2.0代码

[2017-07-05 02:14] chenjiaj commented on #50
好的 谢谢

[2017-07-05 09:20] sobolevn opened #52 "Optionally disable pagination"
Hi, thanks for the awesome component!

I would like to disable pagination in some cases. I would really like to have something like `has-pagination` property.

Would you mind a PR from me with this feature?

[2017-07-05 09:52] njleonzhang commented on #52
@sobolevn It's OK :). Please work on 2.0 branch. It's better if you can add UT for this feature. no need to write document because I am considering re-write all docs.

[2017-07-05 09:57] sobolevn commented on #52
Sorry, did get the `UT` thing. What is it?

[2017-07-05 10:08] njleonzhang commented on #52
@sobolevn unit test, sry

[2017-07-05 17:35] sobolevn opened #54 "`row-action-def` should be a function"
I want to set different actions to different rows based on the data in the row.
But right now it seems impossible to me.

Any ideas on how to achieve that?

[2017-07-05 20:02] ettaegbe opened #55 "Chinese language showing on my table"
I have successfully render my table but there are chinese characters on it. Please how can I remove them

## Context

This is occurring at the level of pagination

[2017-07-06 01:19] njleonzhang commented on #55
https://github.com/njleonzhang/vue-data-tables/issues/49

[2017-07-06 01:20] njleonzhang commented on #54
currently, you can not customize the action col, I am considering improving in next version.

[2017-07-06 01:22] #55 closed

[2017-07-06 07:07] #52 closed

[2017-07-06 07:18] sobolevn commented on #54
Ok, here's a workaround for now:

Steps:
1. disable actions via `:has-action-col="false"`
2. then use this `el-column`:

[code]

[2017-07-06 11:49] njleonzhang commented on #54
@sobolevn Tnx, it seems users can define any col action in this way. This can be a solution, not just workaround. :)

[2017-07-12 23:12] Sancho66 opened #56 "filter-method el-table-column"
Hi ,

I use "filter-method" and "filters" attributes  on "el-table-column" component with pagination on my table.
Can I filter on ALL rows ( all the pages) instead of rows on the current page ?

Indeed filter-method is called only for rows on the current page...

Thanks

[2017-07-13 02:01] njleonzhang commented on #56
if you use `filter-method`, its el-table who manage the filter, not `vue-data-tables`,   `el-table` do not know pagination, so you can only filter current page. I will try to make this work in `vue-data-tables` in feature.

[2017-07-13 08:04] Sancho66 commented on #56
Okay , thanks !

[2017-07-14 09:36] o3661606 opened #57 "在el-table-column 中使用 :formatter='dateFormater' 的问题"
我在el-table-column 中用了

 去转换时间的显示格式，
我发现search box会用`el-table-column`内`prop`的值(e.g. 2017-07-14T09:17:18.824Z) 作为搜索条件， 而不是用转换後的值(e.g. 2017-07-14 05:17 PM )
请问这个问题可以怎样解决？

谢谢？

[2017-07-14 09:49] njleonzhang commented on #57
用search box 的filterFunction 自定义一个比较函数应该就能解决了

[2017-07-16 16:06] #57 closed

[2017-07-19 10:38] njleonzhang commented on #34
refer to https://njleonzhang.github.io/vue-data-tables/#/defineActionBar

[2017-07-19 10:38] #34 closed

[2017-07-19 10:39] njleonzhang commented on #35
refer to https://njleonzhang.github.io/vue-data-tables/#/searchBoxFilter?id=customize-filter-logic

[2017-07-19 10:39] #35 closed

[2017-07-19 10:39] njleonzhang commented on #51
refer to  https://njleonzhang.github.io/vue-data-tables/#/renderTable?id=el-table-table-property

[2017-07-19 10:39] #51 closed

[2017-07-19 10:40] njleonzhang commented on #50
refer to https://njleonzhang.github.io/vue-data-tables/#/defineActionBar

[2017-07-19 10:40] #50 closed

[2017-07-19 10:40] njleonzhang commented on #48
supported in 2.0

[2017-07-19 10:40] #48 closed

[2017-07-19 10:41] njleonzhang commented on #36
close with 2.0 release. if still have this issue, please open other

[2017-07-19 10:41] #36 closed

[2017-07-19 13:00] thearabbit commented on #34
Thanks I will try soon

[2017-07-19 13:18] thearabbit opened #58 "Have any plan for sever side data?"
Have any plan for sever data?

[2017-07-19 14:04] njleonzhang commented on #58
Will fix current issues, then try to work on server side version. I cannot make any promise now.

[2017-07-19 14:04] #58 closed

[2017-07-19 23:53] thearabbit commented on #58
Thanks again 👍

[2017-07-20 08:58] chenyihao2621023 opened #59 "@filter-change 筛选条件变化事件失效"
# Online reproduce
It is important to provide an online sample to reproduce the issue. [Template for online reproducing](https://codepen.io/leonz/pen/peLVrK)

## Context
provide more detailed introduction to the issue itself and why it is relevant

[2017-07-20 11:08] ettaegbe opened #60 "unable to figure out how to do a v-if on each table row"
Sorry putting this in issues. Didn't find where to ask for this help.
I'm using lib on my project a couldn't figure how to do something.
Please how do a v-if so it will show a row on depending a condition. I have look a your get start but couldn't find a solution. please can you just give a link jsfiddle.
Thanks. close this only if you have a solution to it.

[2017-07-20 14:49] njleonzhang commented on #60
you can remove the object from the `data` list and render the table

[2017-07-21 11:13] TKafassis opened #62 "Custom sort"
I tried to use custom sort as it's described in element ui documentation in a data-table, but the event is not firing when sort apply in the table. More specifically i added sortable="custom" to an el-table-colunm and @sort-change to the table, but the event in not triggered. Please let me know if there is another way to do custom sorting.
Also even though it's not relevant with the sorting, there

[2017-07-22 14:40] BangShut opened #63 "Get data with ajax."
How get data from server with ajax in pagination ?

[2017-07-22 16:15] njleonzhang commented on #62
`sort-change` proxied in 2.0.2
about the `placeholder`, I have updated the [document](https://njleonzhang.github.io/vue-data-tables/#/searchBoxFilter?id=customize-the-input)

[2017-07-22 16:15] #62 closed

[2017-07-22 16:15] njleonzhang commented on #59
proxied in 2.0.2

[2017-07-22 16:15] #59 closed

[2017-07-22 16:17] njleonzhang commented on #31
proxied in 2.0.2

[2017-07-22 16:17] #31 closed

[2017-07-24 15:18] njleonzhang commented on #32
proxied in 2.0.3

[2017-07-24 15:18] #32 closed

[2017-07-24 15:18] #60 closed

[2017-07-25 09:08] sobolevn opened #64 "Browser support"
What browser does this library support?

I need to support `ie10+`. Is it possible?

P.S. Maybe you should clarify that in a readme?

[2017-07-26 02:11] njleonzhang commented on #64
should be same as Vue and element-ui. will test ASAP, may be a build issue.

[2017-07-26 02:40] reclay opened #65 "@sort-change didn't work"
# Online reproduce
[https://jsfiddle.net/krtphh36/](https://jsfiddle.net/krtphh36/)

## Context
add sort-change to data-tables but didn't work

[2017-07-26 02:51] njleonzhang commented on #65
sry for forgetting to update the lib link in sample.
 please use master version.

<script src="https://rawgit.com/njleonzhang/vue-data-tables/master/dist/data-tables.js"></script>

[2017-07-26 02:51] #65 closed

[2017-07-26 02:57] lxyzxq2008 opened #66 "使用v-if做表格切换时，表格显示异常"
表格在动态切换的时候，表格不能正常显示，只能显示出一列，而且还占据了整个表格的宽度，怎么解决一下这个问题呢？

[2017-07-26 03:00] njleonzhang commented on #66
请具体给个在线的sample吧

[2017-07-26 03:04] njleonzhang commented on #64
can you provide the error you encounter in low version IE? I don't have IE environment at hand

[2017-07-26 03:08] reclay commented on #65
Thanks

[2017-07-26 03:08] lxyzxq2008 commented on #66
el-table  是否有这个问题我不清楚，我直接使用的这个组件，大概的效果是这样的:
开始显示表格(正常)：
table1
列1  列2  列3  列4
根据条件切换显示(异常)：
table2
列1
table2只显示了一列，而且占据了列1到列4的整个宽度；
在切换到显示表格table1，也出现显示异常，同样只显示了一列，而且占据了列1到列4的整个宽度；

[2017-07-26 03:12] njleonzhang commented on #66
你的意思我大概明白，最好你能修改下这个[jsfiddle](http://jsfiddle.net/zpczjl/9tp3z4bn/) ，能重现问题是最好的，一方面让我看到你的代码，能够最终确认到底是谁的问题。

[2017-07-26 03:18] njleonzhang commented on #66
我试着用了一下v-if 未发现问题。

http://jsfiddle.net/zpczjl/yLocahsk/1/

[2017-07-26 06:50] sobolevn commented on #64
Thanks! I don't have any bugs yet, because I have not started yet.
I am just planning and choosing dependencies.

[2017-07-26 07:02] lxyzxq2008 commented on #66
我把现象再现了一下：https://jsfiddle.net/yLocahsk/24/    点击change按钮会切换，现象就出现了

[2017-07-26 09:42] njleonzhang commented on #64
OK

[2017-07-26 09:42] #64 closed

[2017-07-26 09:59] njleonzhang commented on #66
哦 你是在`el-table-column`上用v-if进行切换啊。我试了一下`el-table`本身就有问题哦，你可能需要去`el-table`那边提问题了。或者直接去看下源码。可以临时做2个表来处理。
https://github.com/ElemeFE/element/issues/4636  你可以参考这个链接看看能不能解决。

[2017-07-26 09:59] #66 closed

[2017-07-26 10:01] sobolevn commented on #64
I still insist on adding this information to the readme. Since it is valuable when making decisions.

[2017-07-26 10:20] njleonzhang commented on #64
@sobolevn will add later, thanks for suggestion. In addition, if possible, would you please help to review my readme? You know, I am not native english speaker.

[2017-07-26 10:42] sobolevn commented on #64
Sure! But I am Russian, so not a native speaker either.

[2017-07-26 13:43] njleonzhang commented on #64
😂

[2017-08-03 08:59] Reechee88 opened #69 "Table data with anchor or button element"
I would like to make some data as anchor element and I try to pass the data like this:
[code]
Of course, it is not binded as v-html, so it doesn't understand what I want.

Is there a way to accomplish this task?

Thanks!

[2017-08-03 09:03] njleonzhang commented on #69
maybe you can try leverage [custom-column-template](http://element.eleme.io/#/en-US/component/table#custom-column-template)

[2017-08-03 09:08] Reechee88 commented on #69
Yeah, I found that also. But how do I use with your component?

[2017-08-03 09:16] njleonzhang commented on #69
look at the [sample](https://njleonzhang.github.io/vue-data-tables/#/renderTable?id=basic-table)
just use `el-table-column` inside this component. this component is a wrapper of `el-table`. so you can use `el-table-column` just as `el-table`

[2017-08-03 09:42] Reechee88 commented on #69
Working like a charm! I am sehr happy, thank you! :)

[2017-08-03 09:42] #69 closed

[2017-08-04 12:51] thearabbit opened #70 "Support with iView?"
Now I tried `iView`, it is good.
Support with `iView`?

[2017-08-05 01:14] njleonzhang commented on #70
You can have a try. This is just a Vue component, do not have any special compatibility point need to take care.

[2017-08-05 01:14] #70 closed

[2017-08-05 05:37] dynamicheart opened #72 "action-col-def里面的handler能否提供多一些参数？"
`http://element.eleme.io/#/zh-CN/component/table`

[2017-08-07 02:38] njleonzhang commented on #72
好的,  下个版本考虑加，PR welcomed

[2017-08-08 08:43] thearabbit opened #73 "Total don't work"
I base on `Meteor + Vue`.
![image](https://user-images.githubusercontent.com/4495160/29063493-44721cc2-7c50-11e7-9062-4d106a2a223c.png)

[2017-08-08 11:47] ssuess opened #74 "possible to transform data in columns for display?"
Is it possible to transform the data in my dataset before table display? For example, my dataset returns a unix timestamp and I would like to display it as an english date. (I already have moment installed btw.)

[2017-08-08 11:55] njleonzhang commented on #74
yeah, you can customize. look at: https://github.com/njleonzhang/vue-data-tables/issues/69

[2017-08-08 11:55] #74 closed

[2017-08-08 19:04] ssuess commented on #74
Thanks, I took a look there and am not sure how to proceed. Is there any example that would show filtering on the data output for that column? ie something like a filter I have (formatUnix) that returns a value like `return moment(this.posts.date, 'X').format('YYYY-MM-DD')`

[2017-08-09 01:35] njleonzhang commented on #74
check this sample:
https://njleonzhang.github.io/vue-data-tables/#/searchBoxFilter?id=customize-filter-logic

[2017-08-11 02:33] AtticusLv opened #75 "Document is not working"
# Online reproduce
`<data-tables
    ref="multipleTable"
    :data="productTypeTableList"
    height="350"
    border
    style="width: 100%"
    :has-action-col="false">
        <el-table-column
          prop="productTypeTableList.productType"
          label="ProductType"
          width="120">
        </el-table-column>`

## Context
Searching is not working when I use context of objects, eg. u

[2017-08-11 03:02] njleonzhang commented on #75
不好意思我英文不太好，不太看得明白你的意思。 从你的代码来看，我只是觉得`productTypeTableList.productType`有点奇怪， `productTypeTableList`是一个列表，你给他设置了一个属性么？你需要什么文档？

关于搜索的文档都在这：
[code]

[2017-08-11 03:53] thearabbit opened #76 "Possible use component on `actionsDef `?"
I would like to use `component` on `actionsDef `
[code]

[2017-08-11 05:43] njleonzhang commented on #76
https://njleonzhang.github.io/vue-data-tables/#/defineActionBar

If default action bar can not match requirement, it can be entirely customized.

[2017-08-11 05:43] #76 closed

[2017-08-13 16:22] AtticusLv commented on #75
抱歉哈，以为你是外国人，就是要那个搜索的文档！感谢感谢
忽略上面那个bug，是我自己犯错

[2017-08-13 16:22] #75 closed

[2017-08-15 06:40] sobolevn commented on #63
I confirm that this is an issue. Since it is not a trivial thing to do, keeping in mind all the possible filters, orderings and searching.

@BangShut did you come up with any solution?

[2017-08-15 06:47] sobolevn opened #77 "Search action does not fire any events"
It is stated in the docs:

But actually fires only here: https://github.com/njleonzhang/vue-data-tables/blob/f98b32d4c0a97ca6c072cfd6b524c4fb941058de/src/components/DataTables.vue#L45

Any ideas on how to fix that?

[2017-08-15 06:48] sobolevn commented on #56
Any progress on this one? I am facing it too.

[2017-08-15 07:14] njleonzhang commented on #77
https://github.com/njleonzhang/vue-data-tables/blob/f98b32d4c0a97ca6c072cfd6b524c4fb941058de/src/components/DataTables.vue#L342

it should emit when any filter change

[2017-08-15 07:19] njleonzhang commented on #63
currently, this component is for font-end data source. the pagination is calculated by `data` and `page-size`. I will consider to make it work with server data source.

[2017-08-15 07:20] sobolevn commented on #77
That would be very helpful.

What I am trying to achieve:
1. I have a lot of data. Like 100.000s of data
2. I want to display it with `vue-data-tables`
3. It does not fit into memory obviously
4. So I want to paginate it on server
5. I need criteria to paginate the data, like: search, checkboxes, ordering, column filters
6. I can not get it right now

It is all related to the #63

[2017-08-15 07:38] njleonzhang commented on #77
Yeah, this component can not work with server data source. I think just some change on the pagination caculate can make it work.

[2017-08-16 08:35] wuhaohuang opened #78 "关于搜索"
## 问题1：每条数据中有个state来表示该条数据的状态，返回状态是个0||1||2||3||....
会对返回的状态进行一个模板转换，例如0对应=>已使用,123..相对的转换到表格中显示，在搜索中进行搜索的时候按照文档中自定义搜索的方法filterFunction去模仿写，并不能搜索到，不知道是不是我没有写对

## 问题2：当数据中含有某些字段未在图表中进行使用渲染的时候
每当进行搜索的时候会报错：prop xxxxxx not exist in the row, please confirm wether the prop is right, this may cause unpredictable filter result
我想请求回来的数据并不会都会用到吧

[2017-08-17 01:34] njleonzhang commented on #78
@wuhaohuang 请提供在线的重现例子，以便我查看。
参考这个jsfiddle来写： http://jsfiddle.net/zpczjl/9tp3z4bn/

[code]
这个警告是说这个prop `xxxxx`，并不存在于你的数据里，比如你的数据格式是：
[code]
但是你的某列的prop写了`c`，这就会导致上述的warning. 请检查你的prop写的是否有笔误。
如果你发现行为不对，请提供重现样例。

[2017-08-17 04:16] wuhaohuang commented on #78
请观察jsfiddle,地址：https://jsfiddle.net/hughwu/6cbbta6q/
1.搜索栏中搜索腾讯或者阿里搜索不到
2.搜索栏中搜索任何都会报prop xxxxxx not exist in the row, please confirm wether the prop is right, this may cause unpredictable filter result
且没有您说的那种行为，请看看怎么回事~麻烦了

[2017-08-17 07:23] sobolevn opened #79 "Update debounce timeout"
I really need to update `debounce` timeout from `200` to a higher value.

Any chance to get this property in a future version?

[2017-08-21 03:59] njleonzhang commented on #79
OK, will consider

[2017-08-21 17:32] nosnaj commented on #73
@thearabbit Can you please provide a snippet of your code, or a jsfiddle example of your implementation?

[2017-08-21 23:26] thearabbit commented on #77
@sobolevn, I need this option too 👍

[2017-08-22 01:18] njleonzhang commented on #77
so many enhancements.....no PRs......crazy~~~

[2017-08-26 07:27] njleonzhang commented on #78
不好意思，最近项目很忙没有及时回复。这个确实是一个bug，你的数据里有0，被当成了空数据。

[2017-08-26 09:08] njleonzhang commented on #78
另外你下面的函数写错了。......
[code]

[2017-08-26 09:08] #78 closed

[2017-08-28 07:08] #79 closed

[2017-08-28 07:09] njleonzhang commented on #79
supported

[2017-08-28 07:10] njleonzhang commented on #73
close for no reproduction, reopen if you can provide a online reproduction

[2017-08-28 07:10] #73 closed

[2017-08-28 09:02] thearabbit commented on #73
Sorry I am late, it work fine on `jsFiddle`.
But don't work in my project `Meteor + Vue`

[2017-08-28 09:30] njleonzhang commented on #73
@thearabbit Maybe you can try to debug by yourself, I do not have Meteor environment at hand.

[2017-08-29 01:54] njleonzhang commented on #56
`el-table` can not support this feature, I have submit a [PR](https://github.com/ElemeFE/element/pull/6740) to `element-ui`. If the PR can be merged, we can go ahead to support this in `vue-data-tables`

[2017-08-29 05:53] jongeyer opened #82 "Using search box when data has any null values causes error"
##
vue-data-tables@2.0.3

## Online reproduce
http://jsfiddle.net/a3spbzs5/

## Context
Using search box when data has any null values causes error.
I noticed this error was not occurring with vue-data-tables@1.x, but there were other issues with the search.

[2017-08-29 06:51] #82 closed

[2017-08-29 06:51] njleonzhang commented on #82
Tnx, fixed

[2017-08-29 07:49] njleonzhang commented on #54
added to [doc](https://njleonzhang.github.io/vue-data-tables/#/defineActionCol)

[2017-08-29 07:49] #54 closed

[2017-08-29 08:22] njleonzhang commented on #72
supported

[2017-08-29 08:22] #72 closed

[2017-08-30 04:28] monkeysuffrage opened #83 "Trouble understanding how to show datatable"
I'm having trouble understanding what to do with this library.
Is there a sample LandingPage.vue that someone can share as a reference?

[2017-08-30 06:24] njleonzhang commented on #83
there are many sample in doc
https://njleonzhang.github.io/vue-data-tables/#/

[2017-08-30 06:24] #83 closed

[2017-09-04 02:17] daviddsp opened #85 "Refresh data vue-data-tables"
Hi community!

I have a problem,
I got edit method in my view component, need update refresh data on my vue-data-table

Some ideas?,

Thanks..
![captura de pantalla de 2017-09-03 23-16-06](https://user-images.githubusercontent.com/2723396/30009357-1995a68c-90fe-11e7-8876-1195ccf3360e.png)

[2017-09-04 02:39] njleonzhang commented on #85
https://njleonzhang.github.io/vue-data-tables/#/quickstart?id=hello-word
check this demo, just revise the row, then the data should be update automatically by vue.

[2017-09-04 02:39] #85 closed

[2017-09-07 03:23] daviddsp opened #87 "Refresh table automatically"
Hi community!

I need to refresh a table automatically every 3 minutes.
Can you help me please?
![captura de pantalla de 2017-09-07 00-23-11](https://user-images.githubusercontent.com/2723396/30144636-cadadba4-9362-11e7-808d-cf14ce9b1115.png)

[2017-09-07 03:30] njleonzhang commented on #87
set a timer in your vue `create()` or some other place you want. then update the table data in the timer.

[2017-09-07 03:34] daviddsp commented on #87
Thanks for you answer, You recommend me refresh my view component?

[2017-09-07 03:36] njleonzhang commented on #87
assign new value from ajax to table `data`, then the table will be refreshed automatically by Vue.

[2017-09-07 04:00] daviddsp commented on #87
@njleonzhang thanks

[2017-09-07 04:32] #87 closed

[2017-09-09 02:45] wuhaohuang commented on #78
@njleonzhang 你好，请问正确的应该怎么写？

[2017-09-09 03:31] njleonzhang commented on #78
@wuhaohuang 参见例子啊。
https://njleonzhang.github.io/vue-data-tables/#/searchBoxFilter?id=customize-filter-logic

getSearchDef() 你应该返回一个和例子里一样的对象`filterFunction`是他的一个属性。你写的明显不对，你仔细看一下就知道了

[code]

[2017-09-14 11:38] hanxue opened #88 "Fail to register vue-data-tables as a component"
## Context

I have an `app.js`

[code]

This is `MyPage.vue`

[code]

When I run the app, I get these errors

[code]

[code]

Why is `<DataTables>` above `<PageContent>` and how can I fix it?

[您可以用中文回复］

[2017-09-14 14:11] njleonzhang commented on #88
请仔细阅读下文档，这个库依赖element-Ui的一些组件。并不能单独使用

[2017-09-15 01:59] #88 closed

[2017-09-15 10:20] nWidart opened #89 "Pagination options setting max records"
Hello,

I'm setting up server side fetching of paginated results.

From the documentation I see we can only set the following options:

[code]

Is there a way to tell the package how many total records there are, and thus prepare the paginator element with the appropriate amount of pages?

Thanks,

[2017-09-15 10:38] nWidart commented on #77
I'd very much love this as well. 🙏  I don't have the required JS skills to PR this though. 😞

[2017-09-16 09:38] njleonzhang commented on #89
I am working on server side version now, will release ASAP

[2017-09-16 09:41] njleonzhang commented on #77
@nWidart I  am working on server version. You can refer to https://github.com/njleonzhang/vue-data-tables/tree/server_data_support

[2017-09-19 02:28] zxishere opened #90 "Loading 加载 的效果实现"
因为业务需要是异步获取数据，看到作者已经添加了服务器端分页的分支，非常激动。
这次的问题是参考文档在tableProps增加了'v-loading.body'的选项，想实现在数据加载前显示loading的效果，但是实际没有生效。球解惑。
代码如下：
[code]

[2017-09-19 06:04] njleonzhang commented on #90
`v-loading `应该和`v-if`一样是一个directive而不是`el-table`的属性, 所以你这样写不行。 具体原因可以轻去看下element对v-loading的实现

[2017-09-19 06:18] njleonzhang commented on #90
前端分页的这个版本   你需要loading么？

[2017-09-19 06:22] zxishere commented on #90
前端其实是不需要的。主要是现在的SPA应用大部分都是通过接口来调用后端的数据了。又一直没找到合适的组件，昨天搜索到你的库发现已经非常完美了，想想自己稍微改改应该可以支持后端调用，无奈能力还是有限。
正好在看你的server_data_support这个分支，好像已经加上了loading的配置。不知道什么时候会发布？

[2017-09-19 06:39] njleonzhang commented on #90
代码改差不多了，现在在写单元测试，后面还要写文档，应该不会太久吧。不过单元测试写完，可以先发个beta的版本。

[2017-09-19 06:41] zxishere commented on #90
非常期待 ：）

[2017-09-19 07:00] njleonzhang commented on #90
:)

[2017-09-19 07:00] #90 closed

[2017-09-21 02:39] joshchiucn commented on #66
![default](https://user-images.githubusercontent.com/20282988/30676415-a9f43b40-9eb8-11e7-9e33-a3af1b4775ad.png)
table-layout.js 文件里，计算行宽的时候：`bodyMinWidth += column.width || column.minWidth || 80;`  当你给列自定宽度的时候，这里column.width是String,所以+=然后，‘50’+‘50’+'50'=‘505050’（px）

[2017-09-21 05:52] njleonzhang commented on #66
@joshchiucn 感谢解释

[2017-09-21 08:26] njleonzhang commented on #89
released in 2.1.0

[2017-09-21 08:26] #89 closed

[2017-09-21 08:26] njleonzhang commented on #63
released in 2.1.0

[2017-09-21 08:26] #63 closed

[2017-09-21 08:27] njleonzhang commented on #77
for server version, released in 2.1.0

[2017-09-28 20:56] metamet opened #91 "JSFiddle using wrong path for data-tables.js resource"
http://jsfiddle.net/zpczjl/9tp3z4bn/ is looking to use https://rawgit.com/njleonzhang/vue-data-tables/master/dist/data-tables.js, which causes the live demo to be unusable.

[2017-09-29 06:09] njleonzhang commented on #91
@metamet tnx, fixed now.

[2017-09-29 06:09] #91 closed

[2017-09-29 15:34] metamet opened #92 "Unable to build vue-data-tables with require or import using Webpack; Element UI works fine"
Using Webpack, which has properly built Vue and Element UI using both import and require. Running into issues with vue-data-tables, however.

When using the following:

[code]

I get the error:

[code]

From vue.js, here're lines 4388 through 4408 (line 4400 marked with =>):

[code]

If I change it to:

[code]

I get:

[code]

So if I then declare the named component:

[code]

The console error is

[2017-09-29 22:26] njleonzhang commented on #92
OK, I will look into this case later ASAP

[2017-09-30 08:24] njleonzhang commented on #92
@metamet I have tried in my environment. It can work as expected.
Do you use the lastest version (2.1.0)?
Can you provide a sample project?

[2017-10-09 03:10] leiha opened #93 "data-tables-server > row-class-name : el-table : element-ui"
Hi, and ty for the contribution ;)

## Context
i tried to use the native row-class-name with data-tables-server and apparently it seems doesn't work
Normal ? ( when i use el-table the same thing works like a charm )

[2017-10-09 05:11] njleonzhang commented on #93
would you please provide a sample to reproduce this issue based on the following jsfiddle demo

https://jsfiddle.net/zpczjl/xboja87c/

[2017-10-09 11:10] leiha commented on #93
https://jsfiddle.net/xboja87c/1/

[2017-10-09 12:14] globsecure opened #94 "Upgrade Element 2.0 - [Vue Warn] Injection "elFormItem" not found"
Hello,

The warning happens only when you upgrade to a new version of Element-UI. I believe it is a problem of just updating and not of datatable.

[2017-10-09 21:52] leiha commented on #93
never mind it's my fault i understood my mistake : https://jsfiddle.net/xboja87c/5/
I must learn to read the documentation ;)

[2017-10-10 01:21] njleonzhang commented on #94
would you please provide a reproduce demo refer to http://jsfiddle.net/zpczjl/9tp3z4bn/

[2017-10-10 01:25] njleonzhang commented on #93
I set el-table `stripe` to true in this lib, you need set `stripe` as false in your case.

https://jsfiddle.net/zpczjl/xxbtwszt/

[2017-10-10 01:25] #93 closed

[2017-10-10 01:50] #94 closed

[2017-10-10 01:55] globsecure commented on #94
Sorry @njleonzhang,

Code: http://jsfiddle.net/9tp3z4bn/129/

![screen shot 2017-10-09 at 22 54 54](https://user-images.githubusercontent.com/1958192/31365955-ef9924e0-ad44-11e7-8e4c-1289f0216ff9.png)

[2017-10-10 02:16] njleonzhang commented on #94
@globsecure never mind. Tnx for your contribution anyway. 👍

[2017-10-10 09:20] leiha commented on #93
ah ok simply
Ty and again good job ;)

[2017-10-10 10:48] njleonzhang commented on #93
BTW, you can write `row-class-name` as `rowClassName`, which may make you feel better when write js

[2017-10-10 19:23] takotuesday commented on #92
@njleonzhang I actually am running into the same problem. It happens when I build `vue-data-tables` locally and copy the minified `js` file into my assets directory. I wasnt able to use `vue-data-tables` as a package because of an odd error where webpack was looking for `pug`.

[2017-10-11 01:25] njleonzhang commented on #92
@takotuesday @metamet I can not reproduce this issue by building the lib locally and then import it. Can you provide a sample project?

All these works:
[code]

check the `npm run play` command of this project, it's a sample project.

[2017-10-11 11:06] wxkin opened #96 "Render HTML in cells"
Hi there, this is not really an issue is more like a feature request.

Is it possible to render HTML in data table cell? It would be really handy if could be able to have HTML syntax in cells. We could style the elements or even have hyperlinks.
e.g:
[code]

[2017-10-11 11:28] njleonzhang commented on #96
You should be able to do this with `v-html` and [custom-column-template](http://element.eleme.io/#/en-US/component/table#custom-column-template)

[2017-10-11 16:19] metamet commented on #92
Still getting the same error. I ran `npm install vue-data-tables --save-dev` and have 2.1.0 installed.

In my main.js, used:

[code]

Still getting:

[code]

What does your `.babelrc` file look like? Mine is:

[code]

Here's my `webpack.config.js` as well, in case there's any insight here...

[code]

Thanks for looking into this, and sorry for my delayed response.

[2017-10-12 01:36] njleonzhang commented on #92
@metamet I have not find any suspicious point in code you pasted above. I create a project from vue-webapck template, [vue-data-table-issue-92](https://github.com/njleonzhang/vue-data-table-issue-92), which can use vue-data-tables as expected. Can you check it, and try to find the difference to yours. You can also provide a sample project so that we can help to debug.

[2017-10-16 06:07] njleonzhang commented on #96
no response and should be able to solved by above suggestion. close it.

[2017-10-16 06:07] #96 closed

[2017-10-19 07:34] exuan opened #97 "清除搜索后 fixed列 内容变成透明"
如图，
![edit-fiddle-jsfiddle-google-chrome-2017_10_19-15_21_00](https://user-images.githubusercontent.com/1683921/31759081-c42067f6-b4e2-11e7-997a-6ded200033fe.gif)

[2017-10-19 10:53] njleonzhang commented on #97
这个问题是element-ui `append slot`和column fixed之间的一个冲突，使用`el-table`重现这个问题：
http://jsfiddle.net/zpczjl/4ctx4kr5/

我会去element-ui那边提个issus

如果你需要用的话，你可以删除下面这2句代码，自己编译一个版本就可以使用了。

https://github.com/njleonzhang/vue-data-tables/blob/d3ed7151864a349014b1c0509f376f204399f81d/src/template/index.pug#L36-L37

[2017-10-20 03:43] exuan commented on #97
感谢了，老铁，暂时把搜索关闭了，

[2017-10-20 04:45] njleonzhang commented on #97
@exuan 不知搜索会出问题，只要你用fixed column，然后改变表里内容的个数，都会出这个问题。所以如果你要用fixed column我建议你拉源码改一下再用。如果fixed column用的人多，我会暂时把库的代码改掉。

[2017-10-20 04:47] njleonzhang commented on #97
element-ui bug link： https://github.com/ElemeFE/element/issues/7594

[2017-10-20 08:33] exuan commented on #97
get

[2017-10-20 10:28] liuhaozzu opened #98 "the default action-col Label can't be overwrite which is always "操作"."

[2017-10-20 10:48] #98 closed

[2017-10-21 02:06] njleonzhang commented on #98
look at this [sample](https://njleonzhang.github.io/vue-data-tables/#/tableActionCol?id=define-action-col-bar)

[2017-10-22 17:27] schrink opened #99 "Row selection is lost after filtering data"
# Online reproduce

http://jsfiddle.net/nhmy8y53/

## Context
Please help me. If I select any row and then filter data in any way (search box or pagination), selection is deselcted. Expected behaviour would be that it remembers the selection.

[2017-10-22 17:54] schrink commented on #99
My bad. There is reserve-selection attribute on el-table-column.

[2017-10-22 17:54] #99 closed

[2017-10-23 09:46] leiha opened #100 "Multi Sort"
Can we enable many sorts ( at the top columns ( arrows ) ) on the same time ?
( i think no : https://njleonzhang.github.io/vue-data-tables/#/sort )
=> tableProps.defaultSort indicate default sort column and order

I create an application where the multisort will be a good feature
I connected alasql with your table and i reproduce all statements of sql with an ui widget ( ORDER BY too )

[2017-10-24 00:33] johncade commented on #92
Something else recently happened for me when using vue-data-tables in production. Any time I had a custom column template in a data-table, for example like:
[code]
I get an error along the likes of cannot get `row` of `undefined`. This only happened when using `vue-data-tables`. When I switched the `vue-data-table` wrapper to `el-table` the errors went away. The odd thing is, this only happened wh

[2017-10-24 01:35] njleonzhang commented on #92
@johncade I am sorry if this is caused by `vue-data-tables`, but I can not do anything if we can not reproduce...... Anyway, you can open another issue with your description. This issue seems not different to yours.

[2017-10-24 01:43] njleonzhang commented on #100
@leiha element-ui can not support this, this lib rely on it. So I can make it currently.

[2017-10-24 01:49] njleonzhang commented on #100
with [custom actionbar](https://njleonzhang.github.io/vue-data-tables/#/defineActionBar) I think you can implement this feature yourself.

[2017-10-24 01:54] sky429762423 opened #101 "关于日期范围"
单个日期可以实现精确筛选，可是没有时间起始范围筛选，该怎么做呢大神

[2017-10-24 02:12] njleonzhang commented on #101
你可以用[customize-filter-logic](https://njleonzhang.github.io/vue-data-tables/#/searchBoxFilter?id=customize-filter-logic)应该可以很容易的实现

[2017-10-24 02:19] sky429762423 commented on #101
怎么样把这个filterFunction放到elmentui的日期控件上

[2017-10-24 02:20] sky429762423 commented on #101
怎么样把这个filterFunction放到 elmentui的日期控件上

[2017-10-24 03:05] njleonzhang commented on #101
哦  那你需要用自定义actionbar https://njleonzhang.github.io/vue-data-tables/#/defineActionBar

[2017-10-24 05:33] sky429762423 commented on #101
谢谢，实现功能了

[2017-10-24 06:30] njleonzhang commented on #101
可以把你写的例子贴在出来给其他人参考。
参考： http://jsfiddle.net/zpczjl/9tp3z4bn/

[2017-10-24 06:30] #101 closed

[2017-10-24 08:37] sky429762423 commented on #101
好的，时间范围筛选请参考：https://jsfiddle.net/sevenyq/wnvwvhbp/

[2017-10-24 08:59] leiha commented on #100
i'm not sure to understand your mind.
But for additional info to my side , i implemented the multisort system so it's work by my widget
But i can't show all sorts on the top columns ( arrows ) (one only)

[2017-10-24 09:04] njleonzhang commented on #100
maybe you can leverage [custom actionbar](https://njleonzhang.github.io/vue-data-tables/#/defineActionBar) to draw a `ui` to show your multi-sort in action bar.

[2017-10-24 09:12] leiha commented on #100
ah ok in more of arrows system i create a view for display the setting in the action bar i understand now yours words.

( FYI : )
![screenshot_20171024_111039](https://user-images.githubusercontent.com/3662704/31934359-2cfb814e-b8ac-11e7-8f2a-36da57d2fcc3.png)

[2017-10-24 09:18] njleonzhang commented on #100
you draw this `ui` so fast... orz.
As I have claimed, if I make [custom actionbar](https://njleonzhang.github.io/vue-data-tables/#/defineActionBar) support `sort`, it may be easier for you to implement this feature.

[2017-10-24 10:42] leiha commented on #100
Maybe better way is :
to see with the developers of elementui for how to access to head columns easyness
i think it's not to you to modify your component
i will open an issue in their tracker , what about think of this ?

[2017-10-24 11:19] njleonzhang commented on #100
This is the best solution, but I am afraid element-ui team will not accept this Feature request.

[2017-10-24 12:28] leiha commented on #100
I tried , wait and see now ^^ : https://github.com/ElemeFE/element/issues/7688

[2017-10-24 16:03] juzai123 commented on #94
element ui 2.0 is in beta now, it that possible this project can support 2.0 now? Thx

[2017-10-25 01:50] njleonzhang commented on #94
@juzai123 will support ASAP. You can have a try and check if you would encounter any issue.

[2017-10-26 01:00] thearabbit opened #102 "Support Element 2.*?"
Support Element 2.*?

[2017-10-26 01:34] njleonzhang commented on #102
will work on this ASAP.

[2017-10-26 14:24] krean93 opened #103 "Search in nested data does not work"
Hello!

Unofrtunately JSFiddle crashed every time I tried to reproduce the issue, but the point is:

In your table data you have a nested Array, for example :
![image](https://user-images.githubusercontent.com/26706301/32058169-a29377cc-ba69-11e7-8554-9be3940ec004.png)

You try to render the data somehow like this:
![image](https://user-images.githubusercontent.com/26706301/32058337-03a5099a-ba6a-

[2017-10-26 15:23] njleonzhang commented on #103
@krean93 can you provide the jsfiddle link, which crash?
It seems that the tag `template` is not right.
`scope.row` should be
[code]

so `scope.row.data` should be undefined. But you claim the table can be rendered as expected, and issue occur when search. I am confusing now.

please provide me a jsfiddle to show your issue. At least, paste code here, not the screen shoot.

[2017-10-26 15:36] krean93 commented on #103
You are absolutely right, sorry for the mistake.
It correctly should be "instance in scope.row.test3".
However the problem is that I can not search in this column unfortunately.
 I will try to send the JSfiddle when I get next to a computer.

[2017-10-26 15:47] njleonzhang commented on #103
if you have special filter needed, you can use [customize-filter-logic](https://njleonzhang.github.io/vue-data-tables/#/searchBoxFilter?id=customize-filter-logic) to custom filter logic

[2017-10-26 15:53] krean93 commented on #103
Yes I know, I just wanted to know whether nested arrays are supported somehow by default.

[2017-10-27 01:32] njleonzhang commented on #103
OK, you can have a try

[2017-10-29 17:28] nssflaos opened #105 "Update to Element 2.0 Request"
# Update to Element 2.0 Request

[2017-10-29 17:30] nssflaos commented on #105
Hello,

Thank you for your great work on data-tables.
Now, would you be kind enough to upgrade it to Element 2.0.x ?
Thank you

Brice

[2017-10-29 17:30] #105 closed

[2017-10-30 08:45] liuhaozzu opened #106 "the child component of data-tables can't be updated when buttonProps changed"
the action buttons child component of data-tables can't be updated when buttonProps changed.
e.g. when the disabled property was changed to true, the action button would not be changed.

[2017-10-30 09:56] njleonzhang commented on #106
would you please provide a reproduce online demo via referencing http://jsfiddle.net/zpczjl/9tp3z4bn/

[2017-10-30 15:43] bmuangkhot opened #107 "highlight-current-row"
Hello,

Could you tell if Element-ui Table attribute "highlight-current-row" is supported on data-tables?
It  is not working with data-tables, but it is with Element el-table.

Any how Thank you for your great work

Cheers

Brice

[2017-10-31 01:50] njleonzhang commented on #107
refer to [el-table-table-property](https://njleonzhang.github.io/vue-data-tables/#/renderTable?id=el-table-table-property)

[2017-10-31 14:46] bmuangkhot commented on #107
Oh Yes..
Thank you.

[2017-10-31 14:46] #107 closed

[2017-11-02 04:49] #103 closed

[2017-11-02 06:53] njleonzhang commented on #102
supported element-ui 2.0 in 3.0.0

[2017-11-02 06:53] #102 closed

[2017-11-02 07:04] njleonzhang commented on #97
it's fixed by element-ui 2.0, which is supported by vue-data-tables 3.0, please update to fix this issue.

[2017-11-02 07:04] #97 closed

[2017-11-04 16:02] juzai123 commented on #93
请问这里的属性可以直接调用methods中的方法吗，因为这个我需要在这个function中调用data中的数据，比如这里在
"row-class-name" : function ( row, index ) {
    	  console.log( row )
          console.log(this.tableProps.stripe)
    	  return 'fail'
}

console.log(this.tableProps.stripe)  会有undefinded的问题
或者有没有其他可变通的方法？谢谢指教

[2017-11-05 06:35] shomalgan opened #108 "How can i access searchbox from another component?"
Is there any way to pass search string from another input to datagrid?

[2017-11-06 05:42] njleonzhang commented on #108
what's your meaning by another input? Can you provide some demo to describe your question?

[2017-11-08 08:08] kolesoffac opened #109 "Will it be implemented infinity scroll?"
Are there plans for it?

Thanks

[2017-11-09 01:36] njleonzhang commented on #109
You can leverage `Table Slot` of [el-table](http://element.eleme.io/#/en-US/component/table) to implement infinity scroll?

[2017-11-09 01:36] #109 closed

[2017-11-09 01:38] njleonzhang commented on #108
close due to no response

[2017-11-09 01:38] #108 closed

[2017-11-09 07:06] kolesoffac commented on #109
Explain the use of [table-slot](http://element-cn.eleme.io/1.4/#/en-US/component/table#table-slot), please.

[2017-11-09 07:14] njleonzhang commented on #109
Hi @kolesoffac, please submit this question about how to use table-slot to element-ui project.

[2017-11-13 11:26] sallyruthstruik opened #112 "Got error when filter with undefined data"
I just clone repo and run `npm run play`. When I tried to filter I got error in console:
[code]
and filtration doesn't have effect.

[2017-11-13 11:28] sallyruthstruik commented on #112
PR with fix: https://github.com/njleonzhang/vue-data-tables/pull/113

[2017-11-13 12:02] Erdboden opened #114 "Multiple filters with checkbox"
Is there any way to filter data with checkboxes by different props?
Like here https://jsfiddle.net/v439k1y9/ it filters by 'type' only, but I also want to filter by 'content', for example.

[2017-11-13 12:37] njleonzhang commented on #114
@Erdboden use array
[code]

[2017-11-13 12:37] #114 closed

[2017-11-13 15:46] njleonzhang commented on #112
merged, closed

[2017-11-13 15:46] #112 closed

[2017-11-15 06:08] TAKA-KII opened #115 "problem of using display:flex"
I convert it in a translation site and ask you a question.

A column continues lengthening aside when I display a table by the following constitution and is pushed outside a screen.

-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
vue-data-tables@3.0.0
element-ui @ 2.0.4

-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

[2017-11-15 06:22] njleonzhang commented on #115
@TAKA-KII I am not a native english speaker either. It's hard for me to understand your description from some robot translator.
It seems a css issue, I am not sure wether this is a element-ui issue or vue-data-tables issue.
would you please make a sample to show this issue?

[2017-11-15 07:00] TAKA-KII commented on #115
Please accept our apology.

it's prepared sample
----------------------------------------------------------------------------
<template>
  <div style="display:flex">
    <data-tables :data="data">
      <el-table-column v-for="title in titles" :prop="title.prop" :label="title.label":key="title.prop" sortable="custom" :width="title.width" :min-width="title.minWidth" :align="title.align" >
      </e

[2017-11-15 07:12] TAKA-KII commented on #115
Sorry,　It took time to check a mark down scale

[2017-11-15 09:34] TAKA-KII commented on #115
sample run is no problem in this site
http://jsfiddle.net/9tp3z4bn/161/

but , this site don't streth by window.
this sample is no use parameter : width case, isn't strech window size

I think the behavior around the stretch is doubtful.

[2017-11-15 10:21] TAKA-KII commented on #115
I identified the cause

.resize-triggers, .resize-triggers > div, .contract-trigger:before
width:100%

but, I do not know who setting ResizeListener
Chart.js ?

direct use el-table case is no problem, vue-data-tables does it make sense?

[2017-11-15 11:46] TAKA-KII commented on #115
I identified the cause

el-table parameter [border]
data-tables default add border parameter

table-props={ border: false } set pattern don't move,but can't resize table
direct use el-table add border parameter pattern,  no problem and can resize table

I think data-tables have some problem by display:flex and resize

[2017-11-15 12:10] njleonzhang commented on #115
@TAKA-KII  if you can not reproduce the issue in jsfiddle, can you make a simple  project which can show this issue? You can open a project in github and just put your demo project there, so that I can understand you better.

[2017-11-15 16:05] sallyruthstruik commented on #56
@Sancho66 Solved in https://github.com/njleonzhang/vue-data-tables/pull/116

[2017-11-16 00:00] benedictasamoah opened #117 "Can't render html in vue tables"
# Can't render html in tables
I have tried several times to render html in the tables but it's not working please can you assist me with that

[2017-11-16 00:08] njleonzhang commented on #117
please provide a repro link to describe your issue.

[2017-11-16 00:29] benedictasamoah commented on #117
I'm currently using vue good tables and there is an option for you to render html in the table by just adding this line of code to the field
html:true
But I can't seem to render html in vue-data-tables, I'm new to vue and I have been struglling with this please I appreciate your help

https://jsfiddle.net/wrilben/t6ynttLL/

[2017-11-16 01:17] njleonzhang commented on #117
refer to https://github.com/njleonzhang/vue-data-tables/issues/69

[2017-11-16 01:17] #117 closed

[2017-11-16 03:13] TAKA-KII commented on #115
The cause is likely to be  el-table bug
https://github.com/ElemeFE/element/issues/7950

Perhaps I think that conditions similar to this are set by chance
Wait till this bug is fixed

[2017-11-16 04:36] njleonzhang commented on #115
@TAKA-KII Tnx for your effort.

[2017-11-20 09:16] jiangxiaoxin commented on #94
@globsecure you should update vue and vue-template-compiler as well if you update element-ui to version 2. vue and vue-template-compiler should be version 2.5.3

[2017-11-20 09:26] njleonzhang commented on #92
close due to no response

[2017-11-20 09:26] #92 closed

[2017-11-22 01:18] sylvaincaillot opened #118 "Extract data from the server using multiple api calls/Pagination"
First, thank you for this nice plugin.
I have tried several datatables for Vue and I really like this one for its integration with Element-UI.
However, I am trying to use the server-side capabilities and I am struggling to do so.
I have a similar solution based on vue-tables-2 which works nice but I would like to do the same with vue-data-tables.
For example, in my current solution, everything is

[2017-11-22 01:24] njleonzhang commented on #118
Have you read this doc? https://njleonzhang.github.io/vue-data-tables/#/serverData

[2017-11-22 01:30] sylvaincaillot commented on #118
Thank you for your quick reply.
yes I read this document and it looks like to me that i am in the free mode configuration.
However, i am probably wrong but it looks like your are loading the 1000 records in a row and it doesn't seem to be additional actions when you click on pagination buttons at the bottom to extract further data.

Do you have a dictionary of parameters you send to the API  like

[2017-11-22 01:55] njleonzhang commented on #118
## i am probably wrong but it looks like your are loading the 1000 records in a row and it doesn't seem to be additional actions when you click on pagination buttons at the bottom to extract further data.

In free model, every time you click pagination, datatables emit a `query-change` event in this format:

 | Property | Desc | Type | format | possible value |
 | - | - | - | - | - |
 | type | ind

[2017-11-22 02:03] sylvaincaillot commented on #118
Thank for your help.
I will continue exploring it. I had already setup already the loadData method but for the time being, it is never called when I am clicking on a pagination or doing a sorting, i have probably missed something.
I like the flexibility of your plugin and not being obliged to use a strict syntax to interact with the API.
Sorry for the disturbance, I get surprised when I saw the la

[2017-11-22 02:09] njleonzhang commented on #118
I am happy to help. The title is just used to show the segment, no special meaning.
You can read the doc and sample code, and try yourself.

[2017-11-22 02:34] sylvaincaillot commented on #118
Thank you
Your document is pretty clear.

This is where I am so far starting with the auto loading mode:

[code]

i know that my get works and returns my results and the total number of results. However the loadData method is never call while it should be at least for the 'init' call.
What am I missing?

S.

[2017-11-22 02:40] sylvaincaillot commented on #118
Ok all fixed.
It has to be
`import { DataTablesServer } from 'vue-data-tables'`
 and not
`import DataTablesServer from 'vue-data-tables'`

I mistaken with the declaration for DataTables
`import DataTables from 'vue-data-tables'`

Thank you again for your time
S.

[2017-11-22 02:40] #118 closed

[2017-11-22 05:36] sylvaincaillot opened #119 "Change position of Total"
Hello,
My data-tables-server works beautifully  and I would like to put the total number of records above the table instead to see the number without scrolling down to the el-pagination section.
Is it feasible to do so?

Thank you
S.

[2017-11-22 05:40] sylvaincaillot commented on #119
No worries, found a simpler solution instead:
[code]

[2017-11-22 05:40] #119 closed

[2017-11-24 05:04] sylvaincaillot opened #120 "Change 'No Data' text"
Hello,

Is it possible to customize the 'No Data' text in the case of no records for the data-tables-server or the data-tables?

thank you very much

Sylvain

[2017-11-25 01:46] njleonzhang commented on #120
`empty-text` prop of `el-table`

[2017-11-26 17:33] IvanBernatovic opened #122 "Enable checkbox default value"
I'm using vue-data-tables on one important project and I need to enable some check boxes by default. We are using checkboxes for filtering data based on status. Main reason we need default checkbox values is for improved user experience as data in table can have irrelevant status (for instance Archived or Ended status). So by default I only want to display relevant data. Right now it's only possib

[2017-11-27 02:32] njleonzhang commented on #122
@IvanBernatovic Tnx very much for contribution.

As you mentioned:
[code]

In fact, there are different requirements for users. It's hard for me to make a template to feet everyone's requirement.

So I have designed the customize Action bar. You can define the Action bar by yourself.

https://njleonzhang.github.io/vue-data-tables/#/defineActionBar

For this PR, I will look into it latter. it doesn

[2017-11-27 12:32] IvanBernatovic commented on #122
@njleonzhang Of course, it's completely understandable that it's very hard to make every requirement achieved. That's why we need good community support and a lot of useful contributions :)

Thanks for having a look, I'm not very familiar how library works exactly so I may have missed some things for certain scenarios.

[2017-12-01 05:41] Timz opened #124 "Width action column"
Hi! Add please "width" attribute to action column or set width by content

[2017-12-01 06:28] njleonzhang commented on #124
@Timz Will consider to add later.
You can [customize Action col](https://njleonzhang.github.io/vue-data-tables/#/defineActionCol) as a workaround.

[2017-12-04 15:00] aXaki opened #125 "Feature - Row classes"
Hey, everything looks great except for the
https://jsfiddle.net/yf5zwsd0/
`:row-class-name="tableRowClassName"`
It is already enabled in the element-ui.

same thing goes for the
https://jsfiddle.net/6zkuzheu/
`max-height`
while pagination is disabled (OPTION)

[2017-12-04 15:25] njleonzhang commented on #125
please check the [doc](https://njleonzhang.github.io/vue-data-tables/#/renderTable?id=el-table-table-property)

[2017-12-04 15:25] #125 closed

[2017-12-06 02:23] sylvaincaillot opened #126 "Hide pagination if unnecessary"
Hi,
I am using the data-tables and pagination-def.
However, if I define my pagesize to be 10 for example but my total number of records to be equal or less than 10, my pagination is still shown.

Is there a way to hide the pagination if the number of records is less than the pagesize?

Thank you for your help

S.

[2017-12-06 02:32] njleonzhang commented on #126
Yeah , you can hide the pagination. I forget to document it. I have just added https://njleonzhang.github.io/vue-data-tables/#/pagination

[2017-12-06 02:32] #126 closed

[2017-12-06 02:46] sylvaincaillot commented on #126
Thank you, great addition and super quick as usual

This is how I did:
[code]

However, i would like to give more flexibility such as

[code]
but `this.paginationDef.pageSize` gives me an error...

[2017-12-06 02:55] njleonzhang commented on #126
You need to handle pagination event to get updated `pageSize`, `this.paginationDef.pageSize` is just the init value.
please provide a online demo if you report issue.

[2017-12-11 03:03] tyrbonit opened #127 "dublicate event 'pageChange'"
If set property :pagination-def="{pageSize: 20, pageSizes: [20, 50, 100], currentPage: 2}"  in "data-tables-server" and click on page then function in ":load-data " calls 2 times

[2017-12-11 04:41] njleonzhang commented on #127
can you provide a reproduce sample? just fork this: https://jsfiddle.net/zpczjl/xboja87c/

[2017-12-11 04:47] tyrbonit commented on #127
Yes, of course? see https://jsfiddle.net/tyrbonit/udkcj4m5/1/

[2017-12-11 04:51] njleonzhang commented on #127
@tyrbonit tnx for reporting this bug, will fix ASAP

[2017-12-11 07:30] njleonzhang commented on #127
@tyrbonit you should not write the object directly in template, which will cause the component always render with the this data.
[code]

[code]

https://jsfiddle.net/udkcj4m5/2/

[2017-12-11 09:08] tyrbonit commented on #127
Thank you, it works!
I have another problem:
Then init data-tables-server, i request data from server and use :table-props="tableProps" for define sorting parameters, but I got two requests instead of one, because queryInfo does not contain a sortInfo
See https://jsfiddle.net/tyrbonit/udkcj4m5/3/

[2017-12-12 01:53] njleonzhang commented on #124
supported in 3.1 with `tableColProps ` in [tableActionCol](https://njleonzhang.github.io/vue-data-tables/#/tableActionCol)

[2017-12-12 01:53] #124 closed

[2017-12-12 02:54] njleonzhang commented on #106
no response, close

[2017-12-12 02:54] #106 closed

[2017-12-13 11:21] cag2050 opened #128 "有导出excel的例子吗？"
有导出excel的例子吗？

[2017-12-13 11:42] njleonzhang commented on #128
https://njleonzhang.github.io/vue-data-tables/#/event?id=filtered-data

[2017-12-13 11:42] #128 closed

[2017-12-15 02:39] cag2050 commented on #3
@gucy1972 报表导出为excel的功能，您添加了吗？怎么做的？分享下给我吧

[2017-12-15 03:41] njleonzhang commented on #3
不是回答你了么  #128

[2017-12-15 04:58] cag2050 commented on #3
@njleonzhang 没能成功导出excel格式。有做好的导出excel的例子吗？
我用alasql，报这个错误：https://github.com/agershun/alasql/issues/950
现在我正在用这个插件：https://github.com/SheetJS/js-xlsx/tree/master/demos/vue
做的例子地址：https://github.com/cag2050/alasql_demo

[2017-12-15 05:12] cag2050 commented on #3
@njleonzhang 我可以导出.xlsx格式了。
例子地址：https://github.com/cag2050/alasql_demo

[2017-12-15 05:31] njleonzhang commented on #3
@cag2050 好的，没理解你的意思

[2017-12-15 07:51] Lxiaoacheng commented on #3
@cag2050 老哥出坑了，file-saver + js-xlsx

[2017-12-15 08:13] cag2050 opened #129 "点击“export all”或“export filtered”按钮后，1. 不能接着再点击任一导出按钮；2. 鼠标再移动到按钮上，鼠标不是cursor:pointer状态。"
提供的这个例子：https://njleonzhang.github.io/vue-data-tables/#/event?id=filtered-data
点击“export all”或“export filtered”按钮后，1. 不能接着再点击任一导出按钮；2. 鼠标再移动到按钮上，鼠标不是cursor:pointer状态。
请帮忙看看什么原因。

[2017-12-15 09:21] cag2050 commented on #129
补充：1. 只在mac系统10.12.3里，QQ浏览器4.2.4861.400 (64-bit)出现这种情况；
2. 将右上角的下载提示框关闭之后，2个按钮都正常了。估计是QQ浏览器做了调整。

[2017-12-15 09:22] #129 closed

[2017-12-16 02:11] cag2050 commented on #128
Finally, I use js-xlsx to export .xlsx file, demo: https://github.com/cag2050/vue_tables_xlsx_demo

[2017-12-16 02:48] njleonzhang commented on #128
@cag2050 tnx

[2017-12-16 09:20] #127 closed

[2017-12-16 09:27] njleonzhang commented on #127
@tyrbonit fix in 3.1.2

[2017-12-17 22:45] adamturski opened #130 "How set searchBox filter programatically?"
How one can set searchBox input value programatically?

[2017-12-18 01:44] njleonzhang commented on #130
with `inputProps`, you can set the value programmatically, but it doesn't trigger the table filter now. I will consider to support in future.

[code]

[2017-12-18 08:36] adamturski commented on #130
I've created custom searchbox component based on yours implementation.

It would be great to handle it in the future.

[2017-12-18 08:44] njleonzhang commented on #130
@adamturski you can make the custom action bar as a components so that you can reuse it.

[2017-12-18 13:10] kolesoffac opened #131 "I can't build project"
When i run _npm run build_, i have error:
[code]
Actual ver - 3.1.2
with ver. 3.0.1 all good.

How can i repait it?

Thanks

[2017-12-18 15:13] kolesoffac commented on #131
Solution:
- back to ver 3.0.1
- npm i
- back to ver 3.1.2
- npm update

[2017-12-18 15:13] #131 closed

[2017-12-18 15:18] njleonzhang commented on #131
I suggest you try to use yarn

[2018-01-03 17:06] globsecure opened #133 "Ideas for improvements - Filter Questions"
# Filters with a **minimum** of characters

**_Problem:_**
- Today, a request is triggered at every character entry in the field.  **This causes a big delay in the requests.**

_**Solution:**_

- Add new props on custom filter (by example: min)

[code]
# Filters with **dispatch** by button (Filter)

- Today, a request is triggered after change value of inputs filter.

- It would be interesting to

[2018-01-04 02:29] njleonzhang commented on #133
Tnx for suggestion. currently, you can leverage [debounceTime](https://njleonzhang.github.io/vue-data-tables/#/searchBoxFilter?id=related-properties) to migrate this issue; you can also leverage [filterFunction](https://njleonzhang.github.io/vue-data-tables/#/searchBoxFilter?id=related-properties) to implement the `min` logic. I am afraid I will not implement this feature in this lib.

[2018-01-04 02:29] #133 closed

[2018-01-04 18:05] globsecure commented on #133
Many thanks @njleonzhang , I think maybe my problem might be in the data-table-server then, since search-def has no effect.

Using:
[code]

Configuration:
[code]

[2018-01-05 00:49] njleonzhang commented on #133
@globsecure `filterFunction` of `data-table-server ` can not work in current design. It's server side's response to do any search or filter. check the [doc](https://njleonzhang.github.io/vue-data-tables/#/serverData?id=server-side-data-source-load-massive-data) for more detail. `show`, `debounce` and any other config except `filterFunction` should be able to work as expect.
If you still encounter

[2018-01-10 09:16] fergardi opened #134 "Missing props"
Hello!

I'm missing the following props from el-table:

`size="mini|medium|small"`
`height="250px"`

The former is used for displaying a much compacted data table.
The latter is for scrolling the table instead of paginating it.

Thank you.

[2018-01-10 09:28] njleonzhang commented on #134
please provide a online reproduction via the following boilerplate:
* [Online Demo for front-end pagination](http://jsfiddle.net/zpczjl/9tp3z4bn/)
* [Online Demo for server-end pagination](https://jsfiddle.net/zpczjl/xboja87c/)

[2018-01-10 09:39] fergardi commented on #134
* [Front-end table with custom size not working](http://jsfiddle.net/9tp3z4bn/181/) based on the original [element-ui table specs](http://element.eleme.io/#/en-US/component/table#table-attributes) size
* [Back-end table with custom size not working](https://jsfiddle.net/xboja87c/34/) based on the original [element-ui table specs](http://element.eleme.io/#/en-US/component/table#table-attributes) si

[2018-01-12 01:33] njleonzhang commented on #134
please read the doc [el-table-table-property](https://njleonzhang.github.io/vue-data-tables/#/renderTable?id=el-table-table-property)

[2018-01-12 01:33] #134 closed

[2018-01-13 02:12] thearabbit opened #135 "How to custom Table Column?"
I would like to custom `Table Column`
[code]
Don't show other column (only `code column`).

[2018-01-13 05:34] thearabbit opened #136 "How to use `debounce` on loadData when type on Search Box?"
How to use `debounce` on loadData when type on Search Box?

[2018-01-13 07:23] thearabbit commented on #136
Now I found it `debounceTime `

[2018-01-13 07:23] #136 closed

[2018-01-13 08:39] thearabbit opened #137 "Set debounce time on Search Box of Customize Action Bar?"
I base on `Data table server` and `Customize Action Bar`.
How to set `debounceTime` to Search box?
[code]

[2018-01-13 08:53] thearabbit opened #138 "How to reload/refresh on `Data Table Server`?"
I base on `Data Table Server`, I would like to `reload/refresh` when I remove any record

![image](https://user-images.githubusercontent.com/4495160/34904501-d9ae10de-f879-11e7-9cb2-1455121f85ed.png)

[2018-01-13 09:01] thearabbit opened #139 "Should change `created() -> mounted()` on Free Mode of Data Server"
I think that we should change  `created() -> mounted()` on Free Mode of Data Server.
Bc It doesn't show `loading`

[2018-01-13 16:15] nssflaos opened #140 "How to size the height of the rows of a Table"
Hello,

I wonder if you let me know  how to set the height of the rows of a table.
I did not find any information to size it.
The only property i saw is "max-height" in the <data-tables> tag, which is assigned to the Table, not to the row.

Thank you for your help.
Brice

[2018-01-18 02:33] liuhaozzu opened #141 "the event of "expand-change" in el-table doesn't take effect"
#the event of "expand-change" from el-table doesn't take effect in  data-tables

I realized that the "element-ui" version had already been updated to 2.xxx. however, it seems some new events and features still don't take effect in data-tables element. I wonder do you have any plan to improve it?

thank you,
//Hao Liu.

[2018-01-18 02:53] liuhaozzu commented on #141
Sorry that, I made some mis-usage of data-tables element. the expand-change event works well.

//Hao Liu.

[2018-01-18 02:53] #141 closed

[2018-01-23 05:43] njleonzhang commented on #135
sorry, I can not understand what's your meaning. You can customize table column, please read element-ui doc for more details

[2018-01-23 05:43] #135 closed

[2018-01-23 05:50] njleonzhang commented on #140
you can refer to [el-table](http://element.eleme.io/#/en-US/component/table#table-attributes) doc. I think maybe you can leverage `row-style` property to customize table. If you have more issue, you can ask this question in `el-table` repository

[2018-01-23 05:50] #140 closed

[2018-01-23 05:52] njleonzhang commented on #139
Sorry, would you please provide a demo to demonstrate your issue via the following boilerplate:

* [Online Demo for front-end pagination](http://jsfiddle.net/zpczjl/9tp3z4bn/)
* [Online Demo for server-end pagination](https://jsfiddle.net/zpczjl/xboja87c/)

[2018-01-23 13:04] bmuangkhot commented on #140
Thank you very much.

[2018-01-24 23:13] johncade opened #143 "Cannot build when using data-tables"
# Online reproduce
It is important to provide an online sample to reproduce the issue.

ERROR in ./~/babel-loader/lib!./~/vue-loader/lib/selector.js?type=script&index=0!./~/vue-data-tables/src/components/DataTables.vue
Module build failed: Error: Plugin 1 specified in "C:\\Users\\jogriffin\\WebstormProjects\\sre-page\\node_modules\\vue-data-tables\\.babelrc"
 provided an invalid property of "__wra

[2018-01-25 01:54] njleonzhang commented on #143
it seems you directly import `vue-data-tables/src/components/DataTables.vue`, please check the doc https://njleonzhang.github.io/vue-data-tables/#/quickstart?id=import-in-your-project

[2018-01-26 03:47] cag2050 opened #144 "能让 action-col-def 里 buttonProps 的值，根据每行中一个列的值，来改变样式吗？"
举例：在action col bar中定义了一个下载按钮；如果此行中状态列的值为‘finish’，就让此‘下载’按钮状态为可点击(disabled为false)，其他情况不可点击(disabled为true)。
请问怎样实现？
[code]

[2018-01-26 05:34] njleonzhang commented on #144
那你自己实现这列就行了。就不要用`action-col-def `了。文档里有的 https://njleonzhang.github.io/vue-data-tables/#/defineActionCol

[2018-01-26 05:34] #144 closed

[2018-01-27 03:05] thearabbit commented on #137
I tried `<el-input :debounce="300".....`.
Don't work

[2018-02-01 20:05] hkmsadek opened #145 "How can I add image"
How to add image in the columns?

[2018-02-02 01:59] njleonzhang commented on #145
customize columns as you want. This is a question about `el-table`,  refer to its doc: http://element.eleme.io/#/en-US/component/table?id=Custom%20column%20template

[2018-02-02 01:59] #145 closed

[2018-02-02 06:44] Xdynix opened #146 "How to delete row in table?"
# Online reproduce

I've tried this method, but the table contents are not refreshed. The console shows that it was actually deleted from `data`.

https://jsfiddle.net/Xdynix/smwbzf19/

## Context

I'm trying to add a delete button for each row.

Thank you for all your help.

[2018-02-02 07:20] njleonzhang commented on #146
I don't know the implement of `_.remove`. But you need to remove the item from the original Array not some copied one.

[code]

[2018-02-02 07:20] #146 closed

[2018-02-06 01:58] thearabbit opened #147 "Problem or not no icon-more in paginate?"
![image](https://user-images.githubusercontent.com/4495160/35838030-d5cadd76-0b1b-11e8-9190-373c834c90a2.png)

[2018-02-06 08:27] njleonzhang commented on #147
should be your config issue. The online demo doesn't have this issue.
or please provide a online reproduction via the following boilerplate:
* [Online Demo for front-end pagination](http://jsfiddle.net/zpczjl/9tp3z4bn/)
* [Online Demo for server-end pagination](https://jsfiddle.net/zpczjl/xboja87c/)

[2018-02-06 08:27] #147 closed

[2018-02-06 08:28] njleonzhang commented on #143
close due to no response

[2018-02-06 08:28] #143 closed

[2018-02-14 09:17] fergardi opened #148 "Missing methods"
I'm missing the original el-table setCurrentRow method, for specifying the initial selected row of a table.

http://element.eleme.io/#/en-US/component/table#table-methods

http://jsfiddle.net/3nLgwbvh/1/

[2018-02-14 09:32] njleonzhang commented on #148
Yeah, I missed this part. You can get ‘el-table’ reference via ref ‘elTable’

The following code make it.
‘’’
<el-table ref='elTable'
‘’’

[2018-02-14 12:49] otolabqu opened #149 "PaginationDef.currentPage does not update when changing page"
I'm using a data-tables with default settings for paginationDef

[code]

The paginationDef on the controller looks like so, and the settings for pageSize and pageSizes work

[code]

When clicking on the frontend to change page, the data-table frontend updates, displaying data correctly, but the `paginationDef.currentPage` variable is still set to 1 (can be seen with Vue dev tools).

![pagination f

[2018-02-14 14:11] otolabqu commented on #149
[code]

I haven't used Vue very much, so I didn't see that this is one of the principles.

I think it is an ugly hack because I had to dig inside, find the event name, then write code to explicitly do something I had expected to happen automatically.

I appreciate the quick reply from your side.

[2018-02-16 14:07] otolabqu opened #150 "Options for placement of pagination"
The pagination thing is always below the data-table by default.

It would be useful to have an option to place it above the table.

Also, an option to have pagination both above and below would be even better.

[2018-02-18 02:49] njleonzhang commented on #150
Tnx for the feature request. I will consider to implement in future.

[2018-02-19 12:25] fergardi commented on #134
What about the "fixed" el-table-column property?

[2018-02-19 12:56] njleonzhang commented on #134
You write `el-table-column` in your code, you can pass any prop to it. It's not related to vue-data-tables. If the `el-table-column` you mentioned means the action column of vue-data-table, I suggest you to customize a table column instead of using the default, read more: https://njleonzhang.github.io/vue-data-tables/#/defineActionCol

[2018-02-22 15:30] ignishub opened #151 "How to use summary data"
I tried to use Summary as it used in element but it doesnt work =(

[2018-02-22 15:51] njleonzhang commented on #151
please provide a online reproduction via the following boilerplate:
* [Online Demo for front-end pagination](http://jsfiddle.net/zpczjl/9tp3z4bn/)
* [Online Demo for server-end pagination](https://jsfiddle.net/zpczjl/xboja87c/)

[2018-02-23 07:36] fergardi commented on #134
Thank you.

[2018-02-24 04:38] ac88 opened #152 "建议增加一个paginationProps 属性"
像tableProps属性一样支持所有el-pagination的配置
比如 background

http://element.eleme.io/#/zh-CN/component/pagination

[2018-02-24 04:42] njleonzhang commented on #152
感谢建议 你有兴趣 做个PR么

[2018-02-25 13:56] ac88 commented on #152
@njleonzhang  sorry,现在拼命在忙项目，git github pull相关还没有用过，以后有机会做PR

[2018-02-26 01:34] njleonzhang commented on #152
@ac88 好的，谢谢建议。

[2018-02-26 08:43] ignishub commented on #151
http://jsfiddle.net/7cro8u9b/2/

[2018-02-26 08:59] njleonzhang commented on #151
refer to:
http://jsfiddle.net/7cro8u9b/7/

[2018-02-26 08:59] #151 closed

[2018-02-26 13:32] ignishub commented on #151
Thank you!

[2018-02-27 03:19] Emo1995 commented on #94
@jiangxiaoxin Thxs very much.

[2018-02-27 06:48] sylvaincaillot opened #153 "Filter-method & paginated datatable"
Hello,
I am trying to implement filtering on my paginated datatable following element-UI recommendations:
http://element.eleme.io/#/en-US/component/table#filter

As such:

[code]
However, it only filters the currently displayed pages... It seems to be a recurrent issue #56.

It doesn't seem that Element-UI is going to make a change. Is there a way to bypass this issue in vue-data-tables?

Thank yo

[2018-02-27 08:52] njleonzhang commented on #153
I can not make it work before element team don't accept my [PR](https://github.com/ElemeFE/element/pull/6740).  If you really need this feature, you need revise code of `element-ui` and `vue-data-tables` yourself. I am really disappointed to `element-ui` team. As you can find, the `pr` is submitted for a long time. But no response till now.

[2018-03-05 16:20] choi4450 opened #154 "`current-change` event is duplicated on <el-table> and <el-pagination>"
`current-change` event namespace is duplicated on `<el-table>` and `<el-pagination>`.
so, we have to compare whether the type of the first argument of event is an object or a number.

Can you fix the event name or have another solutions?

http://element.eleme.io/#/en-US/component/table#table-events
http://element.eleme.io/#/en-US/component/pagination#events

| Event Name | Element | Description |

[2018-03-06 01:25] njleonzhang commented on #154
Tnx for submit this bug, will fix ASAP

[2018-03-06 02:47] #154 closed

[2018-03-06 02:50] njleonzhang commented on #154
fixed in 3.1.4, please update and have a try. https://github.com/njleonzhang/vue-data-tables/blob/master/CHANGELOG.md

[2018-03-06 05:03] choi4450 commented on #154
It works for me. thanks!

[2018-03-06 15:29] fergardi opened #155 "Virtual List / Lazy Repeat"
# Online reproduce

- https://framework7.io/docs/virtual-list.html
- https://onsen.io/v2/api/angular1/ons-lazy-repeat.html

## Context
When using large datasets, DOM renderization can severely hurt the page performance. As oposed to Infinite Scroll, which simply adds more and more items while scrolling, this new options will remove non visible elements from the list as well as adding the new ones,

[2018-03-07 01:15] njleonzhang commented on #155
this Lib is not for mobile, so no infinite scroll support. For desktop website, we use pagination to split large datasets. look into the [Doc](https://njleonzhang.github.io/vue-data-tables/#/serverData), this lib provide a solution for your.

[2018-03-07 01:15] #155 closed

[2018-03-07 08:11] #153 closed

[2018-03-08 07:52] fergardi commented on #120
And what about the "empty" slot of the "el-table" for customizing the html of the empty case?

[2018-03-08 08:58] njleonzhang commented on #120
@fergardi haven't supported, will add in feature version.

[2018-03-09 06:18] xiwu12138 commented on #94
@jiangxiaoxin   the version of vue and vue-template-compiler is 2.5.3  ,the element ui version is 2.2.1, also happen this problem:[Vue warn]: Injection "elFormItem" not found ,can  you  give me some suggestion or thinking?

[2018-03-11 08:35] ahennie opened #156 "Server Side rendering with Nuxt.js"
Currently it's not possible to render this table on the server, which is really important for SEO.

[2018-03-13 00:48] Bombay opened #157 "Is it possible to fix the header?"
hi.
Is it possible to fix the header?

[2018-03-13 01:21] njleonzhang commented on #157
Yes, Yes, Yes......
Please check this sample for reference. https://jsfiddle.net/z1hevvcj/

[2018-03-13 01:21] #157 closed

[2018-03-13 02:04] Bombay commented on #157
oh, thanks!!

[2018-03-13 02:07] Bombay opened #158 "Could I possibly create a 2-row header?"
hi.
Thank you for your quick reply.
I have one more question
Could I possibly create a 2-row header?

[2018-03-13 02:17] njleonzhang commented on #158
You can have a try, if `el-table` can create, vue-data-tables should be able to make it.
refer to： https://njleonzhang.github.io/vue-data-tables/#/renderTable?id=el-table-table-property

[2018-03-13 02:17] #158 closed

[2018-03-13 08:10] Bombay commented on #158
thanks!! :)

[2018-03-23 20:04] LeenaSinghal0801 commented on #138
@njleonzhang could you please provide an example to refresh the data after removing a record. Thanks in advance!

[2018-03-24 00:07] thearabbit commented on #138
Thanks

[2018-03-24 01:24] njleonzhang commented on #138
https://jsfiddle.net/k92cjcn5/1/

[2018-03-24 12:28] thearabbit opened #159 "Use "Button Click" instead of "Keypress" to search in Data table server?"
I would like to use `Button click` instead of `keypress` to search in `data table server`.
Could example?

[2018-03-26 02:18] njleonzhang commented on #159
I suggest you define your own tool bar to implement this feature.
https://njleonzhang.github.io/vue-data-tables/#/defineActionBar

[2018-03-26 02:18] #159 closed

[2018-03-26 04:28] thearabbit commented on #159
Thanks for your reply.
But I am not sure, how to trigger `queryChange()` method when `Button` clicked
[code]
Could example

[2018-03-26 05:49] njleonzhang commented on #159
Maybe you need to store the last `queryInfo`.

[2018-03-26 07:32] thearabbit commented on #159
I tried to use `Custom action bar`, but work on any key press of `Search Textbox`(`queryChange called`).

[2018-03-26 07:36] njleonzhang commented on #159
[Define you own action bar](https://njleonzhang.github.io/vue-data-tables/#/defineActionBar), You can control everything yourself.

[2018-03-26 08:00] thearabbit commented on #159
This is my code
[code]

[2018-04-02 15:37] fergardi opened #160 "Multiple selectable columns"
Is it possible to have more than one selection type column at the same time?

[2018-04-03 01:22] njleonzhang commented on #160
yeah， just refer to element-ui table document.

[2018-04-03 07:12] fergardi commented on #160
This is what I was referring to:

![image](https://user-images.githubusercontent.com/3602272/38234736-055658c0-371f-11e8-9459-c741b529e248.png)

[2018-04-03 09:51] njleonzhang commented on #160
so what's your issue, please provide a online reproduction via the following boilerplate:
* [Online Demo for front-end pagination](http://jsfiddle.net/zpczjl/9tp3z4bn/)
* [Online Demo for server-end pagination](https://jsfiddle.net/zpczjl/xboja87c/)

[2018-04-03 16:10] fergardi commented on #160
Here is it: http://jsfiddle.net/e6e2py5x/2/

![image](https://user-images.githubusercontent.com/3602272/38261279-0de67538-376a-11e8-8150-9bded70c508e.png)

When you click on one checkboxed column, ALL the checkboxes check, not only the column you clicked. It should only select the checkboxes of the SAME column you clicked on.

[2018-04-03 16:11] fergardi commented on #148
Any progress on this issue?

[2018-04-04 01:46] njleonzhang commented on #160
sorry, I misunderstand you. we can not support this.

[2018-04-04 01:46] #160 closed

[2018-04-04 01:48] njleonzhang commented on #148
As I have claimed, you can get `el-table` instance via  ref `elTable` and then call the table methods

[2018-04-04 06:40] fergardi commented on #148
Please, provide a better explanation and a working example, cause I cannot got this to work with VueDataTables.

http://jsfiddle.net/e6e2py5x/8/

![image](https://user-images.githubusercontent.com/3602272/38292387-d9dc00c6-37e3-11e8-958e-788011ce5d1f.png)

[2018-04-04 06:46] fergardi commented on #148
I finally found it under this route:

`this.$refs.originalReferenceOfMyTable.$refs.elTable.setCurrentRow()`

Thanks!

[2018-04-04 06:46] #148 closed

[2018-04-05 04:01] vukhanhtruong opened #161 "[Bug] Filter with pagination"
# Online reproduce
https://jsfiddle.net/api/post/library/pure/

## Context

1. Go to page number 2, copy the first column value named "FW201601010002"
2. Paste into the search box
3. Return **No Data**
4. Clean up the search box
5. The pagination shows the current page is **number 1**, but actually is page number 2.
6. Click on the page number 2, the dataset no change

Thanks for your awesome work

[2018-04-05 09:28] ndum opened #162 "Highlighted rows"
Hi, Is it possible to build something like here with highlighted rows?

https://element.eleme.io/#/en-US/component/table#table-with-status

I have seen that you can pass the properties directly with [:table-props](https://njleonzhang.github.io/vue-data-tables/#/renderTable?id=el-table-table-property) but so it's only possible to adjust for example if the table should have a border or not.

Thanks

[2018-04-08 07:02] njleonzhang commented on #161
tnx for reporting this issue, I will look into later.

[2018-04-08 12:44] vukhanhtruong commented on #161
You're welcome. Please let me know once this issue was fixed. Thank you
very much.

On Sun, 8 Apr 2018, 14:02 Leon Zhang, <notifications@github.com> wrote:

[2018-04-09 01:51] njleonzhang commented on #162
it should be able to work by just pass `row-class-name` through `table-props`.

[2018-04-09 07:59] njleonzhang commented on #161
@vukhanhtruong can you reproduce this issue when use this lib as a `cmd` module instead of a `umd`.

[2018-04-09 08:46] njleonzhang commented on #161
The root cause seems related to `element-ui`.
When use `element-ui` as `umd`. The `el-pagination` doesn't update the `internalCurrentPage` when `total` change to 0.

test code:

[code]
open this file in browser, and then do the following:

1. in search box, type in "leon"
2. Return **No Data**

in this time, the filtered data should be empty, just as you can see `no data`, and the `el-pagination`

[2018-04-09 09:13] njleonzhang commented on #161
confirmed. It should be a element-ui bug and can reproduce without vue-data-tables.
I have submitted a bug: https://github.com/ElemeFE/element/issues/10625

[2018-04-09 09:13] ndum commented on #162
Hi - Thanks for your help, it's works now.

Respectively: Here's an example, if someone has the same problem.

[code]

[2018-04-09 09:13] #162 closed

[2018-04-09 09:25] njleonzhang commented on #162
@ndum `row-class-name` can be write in camelCase `rowClassName`.

[2018-04-09 10:22] timur-han opened #164 "Disabling the buttons on action column"
Hi,

Can I disable the buttons on the action column based on the corresponding row data?

[2018-04-09 19:55] LeenaSinghal0801 commented on #138
@njleonzhang thanks for providing example. Unfortunately, remove button and then refresh the data didn't work.

[2018-04-09 23:58] vukhanhtruong commented on #161
I really appreciate for your support. Thank you very much. Keep your good
work up :)

On Mon, 9 Apr 2018, 16:13 Leon Zhang, <notifications@github.com> wrote:

[2018-04-10 01:29] njleonzhang commented on #138
@LeenaSinghal0801 forget to update after revise the code, check this one: https://jsfiddle.net/k92cjcn5/4/

[2018-04-10 01:30] njleonzhang commented on #164
just leverage the customize action column: https://njleonzhang.github.io/vue-data-tables/#/defineActionCol

[2018-04-10 01:30] #164 closed

[2018-04-10 03:45] thearabbit commented on #138
Thanks for your example, but after check It is similar `Data Table Client` mode.
No any sovle for `refresh page` for `Data Table Server`.

[2018-04-10 04:36] njleonzhang commented on #138
@thearabbit you can send http request to web server to delete the data in backend, and delete the data in frontend with same method shown in the sample. or you can reload data from backend after deleting operation success in backend.

[2018-04-10 05:51] #161 closed

[2018-04-10 06:07] njleonzhang commented on #161
element-ui 2.3 change the behavior, which cause this issue. I has fixed this issue in `vue-data-tables` v3.2.0, you can have a try with new version.

[2018-04-10 08:00] thearabbit commented on #138
👍

[2018-04-11 10:31] Skoulix commented on #156
Element UI is now SSR capable. Having this feature also for vue-data-tables would be awesome.
Thanks.

[2018-04-12 07:48] njleonzhang commented on #156
@Skoulix Tnx for your effort and sharing info here. I will try to make this lib support SSR later.

[2018-04-13 05:33] rplees commented on #159
我明白他的意思, 就是目前的触发搜索是只要输入有变化,就自动触发loadData,他的意思是按一个按钮才触发loadData

[code]

[2018-04-13 06:11] njleonzhang commented on #159
[code]
`tableCustomFilters` change cause the data-table change, if you want some button to trigger the change, then you can change `tableCustomFilters` when button click. It's all about your implementation, not controlled by `vue-data-tables`.
We need to understand how things work, not just that things can work in some way.

[2018-04-18 15:51] icangku opened #165 "Got this error, data-tables-server"
[Vue warn]: Error in created hook: "TypeError: Cannot read property 'then' of undefined"
I'm working with Axios

[2018-04-19 01:07] #165 closed

[2018-04-19 05:11] icangku opened #166 "How to get this data"
![tst](https://user-images.githubusercontent.com/14269158/38972454-1a62c6c2-4390-11e8-9a1f-90db0919e4c2.png)

I wanna get the name of the groups, how can i do that?
This hasMany relationship, how do I achieve this? Thank you

[2018-04-19 05:39] njleonzhang commented on #166
please provide a online reproduction via the following boilerplate:
* [Online Demo for front-end pagination](http://jsfiddle.net/zpczjl/9tp3z4bn/)
* [Online Demo for server-end pagination](https://jsfiddle.net/zpczjl/xboja87c/)

[2018-04-19 07:33] icangku commented on #166
https://jsfiddle.net/alvin_corwin/68xruhg8/3/
But I don't know why it doesnt show

[2018-04-19 08:28] choi4450 opened #167 "[Question] How do i get value of search box(el-input) query?"
Hi, I want to fill search query value on route query, but i have not found an event listener when search box value is changed. and  i didn't find a way to two-way binding.
Can i get the value of it?

[2018-04-19 09:39] njleonzhang commented on #167
maybe you are look for [this](https://njleonzhang.github.io/vue-data-tables/#/serverData)

[2018-04-19 10:48] icangku commented on #166
done, thank you to try to help

[2018-04-19 10:48] #166 closed

[2018-04-19 13:26] njleonzhang commented on #167
@choi4450 It's a very special feature request. You can fork this repository and add by yourself.
Or you can customize the tool bar refer to the doc, https://njleonzhang.github.io/vue-data-tables/#/defineActionBar

[2018-04-19 13:26] #167 closed

[2018-04-24 17:57] kevrousso commented on #56
@sallyruthstruik You have an example of how you fixed it? I tried to pass custom filters to vue-data-table but doesn't work...

[2018-04-24 18:34] kevrousso commented on #103
@njleonzhang
I tried to apply a custom-filter on my dataset which has nested properties, and it appears that when applying filters, it doesn't search deeper than the specified property e.g.:

[code]

If I specify props: 'name', somehow it only searches on the first name property found.. Is there a way to make deep search filtering?

[2018-04-25 01:14] njleonzhang commented on #103
@kevrousso have you tried use https://njleonzhang.github.io/vue-data-tables/#/searchBoxFilter?id=customize-filter-logic

[2018-04-25 07:37] joernroeder commented on #130
running into the same issue atm. any news on this?

[2018-04-25 08:36] njleonzhang commented on #130
@joernroeder currently, just define a customize tool bar to handle

[2018-04-25 12:46] kevrousso commented on #103
The thing is that I'm using the element-ui filter-method with the @filter-change event.. not using the search for filtering.

How would I be able to search deeper than the 1st level of my data?

[2018-04-26 01:15] njleonzhang commented on #103
@kevrousso can you provide a demo to show what you want to do....

[2018-05-02 11:09] tsypa opened #168 "Automatic columns width adjustment"
I's possible to automatic columns width adjustment according to text length?

[2018-05-03 01:27] njleonzhang commented on #168
The generated table is a normal `table`. maybe you can try to find answer in [google](https://www.google.com.ph/search?rlz=1C5CHFA_en__655__655&ei=VmPqWqj4GZisjwO8mr7IBQ&q=table+width+according+to+content&oq=table+width+according+to+c&gs_l=psy-ab.3.0.0i19k1j0i8i30i19k1l2.931.4060.0.5144.15.10.0.0.0.0.404.1788.3-4j1.5.0....0...1c.1.64.psy-ab..10.5.1786...0j0i67k1.0.RIViMAdXmX8).

![2018-05-03 9 27

[2018-05-03 01:27] #168 closed

[2018-05-03 10:42] icangku commented on #135
how to change style of specific element
ex : i want to change width of input search only but not affecting another component
i've seen about scoped but i don't have access to add like 'data-v-6c0a33b2' how do i do this? thank you

[2018-05-04 03:14] njleonzhang commented on #135
@icangku check this example. https://njleonzhang.github.io/vue-data-tables/#/searchBoxFilter?id=show-search-box

[2018-05-19 03:08] thearabbit opened #170 "Don't understand wanted version `3.3.1`"
![image](https://user-images.githubusercontent.com/4495160/40264384-86b2afee-5b4c-11e8-97fb-fc1248f3430b.png)

[2018-05-19 06:03] njleonzhang commented on #170
It's a beta version currently with `beta` tag.
[code]
It still in developing with big breaking changes. code is in [tool bar](https://github.com/njleonzhang/vue-data-tables/tree/tool_bar) branch

[2018-05-23 04:46] lochstar opened #172 "Server pagination: currentPage can't be set as starting page"
When setting `paginationDef.currentPage` on `data-tables-server`, if I've selected a value greater than 1, it is not honoured in the pagination. It appears to work with normal `data-tables`.

See this fiddle: https://jsfiddle.net/v0youfw5/

Thanks

[2018-05-23 09:09] njleonzhang commented on #172
Tnx, will fix in next version.

[2018-05-23 09:10] njleonzhang commented on #172
You can preview next version, refer to https://github.com/njleonzhang/vue-data-tables/issues/170

[2018-05-30 01:32] njleonzhang commented on #172
You can try the beta version.
[code]

main changes:

* remove the default action bar and encourage use customize action bar.
* improve render performance with filter function cache.
* sync modifier for currentPage and pageSize

[2018-05-30 03:56] njleonzhang commented on #172
things work in my dev environment, but fails after release. I will check if there is something wrong with my webpack bundle config, will keep you update.

[2018-05-30 15:29] kevrousso commented on #152
Is there any way to add the background attribute to the pagination using vue-data-tables?

[2018-05-31 05:05] njleonzhang commented on #152
will support in next version, check this branch: https://github.com/njleonzhang/vue-data-tables/tree/tool_bar

[2018-06-05 10:23] nepembr opened #173 "Is it possible to conditionally show actionbuttons?"
https://njleonzhang.github.io/vue-data-tables/#/tableActionCol

I have a datatable showing two different types of data on the rows.

Some of my actionbuttons are only applicable to certain data. Is it possible to show/hide the buttons depending on the row data?

I have coded the handler function such that it will just alert a warning "not applicable to this row" when clicked on the wrong type of r

[2018-06-05 11:12] dopyoman opened #174 "Column headers don't align with data columns in chrome"
# Online reproduce
If you check out the any of the data tables in the chrome browser on the documentation page or for example

* [Server-Side example from documenation](https://jsfiddle.net/cgx67o3p/)

You can see in this screen shot that the lines dividing the column are a pixel off.

![image](https://user-images.githubusercontent.com/9316711/40972640-067065d4-68ca-11e8-8bf0-7c53f9a989ad.png)

Th

[2018-06-05 11:51] njleonzhang commented on #174
`header-align` property of el-table-column.

[2018-06-05 11:51] #174 closed

[2018-06-05 11:52] njleonzhang commented on #173
yeah, https://njleonzhang.github.io/vue-data-tables/#/defineActionCol

[2018-06-05 11:52] #173 closed

[2018-06-05 15:15] dopyoman commented on #174
That doesn't do anything but align the text in the header columns. Maybe I should post the issue on the elementUI repo

[2018-06-06 01:11] njleonzhang commented on #174
@dopyoman sorry, I misunderstand the issue. Yeah, it seems a element-ui issue.

[2018-06-06 01:14] njleonzhang commented on #174
![image](https://user-images.githubusercontent.com/13174059/41010431-e6f4c592-6969-11e8-8668-c5079399cc0d.png)

The issue doesn't occur in my chrome.

[2018-06-12 05:35] njleonzhang commented on #170
version 3.4 is released.

[2018-06-12 05:35] #170 closed

[2018-06-12 05:35] njleonzhang commented on #172
version 3.4 is released.

[2018-06-12 05:35] #172 closed

[2018-06-12 05:36] njleonzhang commented on #152
supported  in version 3.4.0

[2018-06-12 05:36] #152 closed

[2018-06-12 05:37] njleonzhang commented on #150
supported  in version 3.4.0

[2018-06-12 05:37] #150 closed

[2018-06-12 05:37] njleonzhang commented on #149
supported  in version 3.4.0

[2018-06-12 05:37] #149 closed

[2018-06-12 05:37] njleonzhang commented on #130
search box is removed, please defined your own customize tool bar in 3.4.0

[2018-06-12 05:37] #130 closed

[2018-06-12 05:38] njleonzhang commented on #122
search box is removed, please defined your own customize tool bar in 3.4.0

[2018-06-12 05:38] #122 closed

[2018-06-12 05:39] njleonzhang commented on #120
supported in version 3.4.0

[2018-06-12 05:39] #120 closed

[2018-06-12 05:40] njleonzhang commented on #77
default action bar is removed in 3.4.0, please defined your own customize tool bar

[2018-06-12 05:40] #77 closed

[2018-06-12 05:40] njleonzhang commented on #139
close for no reponse

[2018-06-12 05:40] #139 closed

[2018-06-15 03:35] shady-xia opened #175 "Uncaught TypeError: Cannot read property 'install' of undefined"
之前一直用的3.1.3的版本，今天升级到3.4.0，构建项目的时候提示

在控制台看到是Vue.use(DataTables)的时候报的错误，应该是`import DataTables from 'vue-data-tables'`出的问题。

我发现把import改成require的方式引入，这个问题就解决了，但是看到文档上是用的import。

[2018-06-15 06:16] njleonzhang commented on #175
这里调整了，请这样导入。
[code]

3.4版本的变化比较大，请仔细看下文档，然后再决定是否要升级。

[2018-06-15 06:16] #175 closed

[2018-06-24 05:14] tony3supriadi opened #176 "Hidden search default"
I'm can't hidden search default. please help me.

[2018-06-26 02:36] #176 closed

[2018-06-26 07:00] chenpion opened #177 "How to provide default sort at init for data-tables-server?"
I was hoping to set `sort` of `query-info` at `init`.

[2018-06-26 07:54] njleonzhang commented on #177
refer to: https://njleonzhang.github.io/vue-data-tables/#/en-us/basic?id=pass-props-to-the-embedded-el-table

[2018-06-26 07:54] #177 closed

[2018-06-27 03:25] thearabbit opened #179 "Could example to create `Tool Bar Component`?"
Could example with `Tool Bar Component`?
I don't understand how to use `v-model="filters"`
### Component
[code]

### Parent
[code]

[2018-06-27 06:22] njleonzhang commented on #179
Will provide a sample later. But it is really not difficult to make your code support `v-model`.

[2018-06-28 08:51] njleonzhang commented on #177
have added a section for default sort

[2018-06-28 08:57] chenpion commented on #177
I did see this section, but I mean when using `data-tables-server`, it's seems like I can't provide default sort at `init`. Sorry for not mentioning properly.

[2018-06-28 09:08] njleonzhang commented on #177
yeah, it can be used with data-tables-server and make the `init` event change. You can have a try

[2018-06-28 09:09] njleonzhang commented on #177
好吧，你好像是台湾人。可以说中文了。

[2018-06-29 06:52] ducaiwei commented on #94
@jiangxiaoxin the version of vue and vue-template-compiler is 2.5.16 ,the element ui version is 2.4.2, also happen this problem:[Vue warn]: Injection "elFormItem" not found ,can you give me some suggestion or thinking?

[2018-07-03 07:03] thearabbit opened #181 "Filter with object field?"
How to use `filter` with object field
[code]

[2018-07-03 18:13] fgzetech opened #182 "Error with Webpack"
Hi, I'm using vue-data-tables with babel and webpack but I have an error in the browser.

Uncaught TypeError: Cannot read property 'install' of undefined
    at Function.Vue.use

This error appears in my bundle file (webpack output).

[2018-07-03 18:18] #182 closed

[2018-07-04 00:16] lochstar commented on #172
I've noticed a bug when navigating back to a page with data-tables-server. I am ignoring the "init" event that is fired, as the data has already been fetched. In this case, the pagination total is not set correctly.

I've identified the bug here: https://github.com/njleonzhang/vue-data-tables/blob/97df80e64860c3cf14d0badf5abc6999bb458fb7/src/components/DataTablesServer.vue#L35

I believe it should

[2018-07-04 01:30] njleonzhang commented on #172
@lochstar tnx for point out this. Yeah, it should be a bug, PR is welcomed.

[2018-07-06 01:34] sylvaincaillot opened #184 "Blank examples"
Hello,
I was just visiting your detailed doc web pages and all the examples are blanks: [Docs](https://njleonzhang.github.io/vue-data-tables/#/en-us/basic)
It doesn't seem to be the expected behavior.

Cheers
S.

[2018-07-06 02:31] njleonzhang commented on #184
tnx for reminder. fixed.

[2018-07-06 02:31] #184 closed

[2018-07-10 06:44] llojkue commented on #94
Did anyone found a solution???

[2018-07-10 08:38] adin234 opened #185 "Tests produce warnings"
# Context
my test throws some warnings
[code]
[code]
[code]

[2018-07-10 09:00] njleonzhang commented on #185
Please provide a reproduce demo.

[2018-07-10 09:01] #185 closed

[2018-07-10 11:14] adin234 commented on #185
im closing this, i upgraded to 3.4.2 and it worked fine after that

[2018-07-10 12:06] njleonzhang opened #186 "issue bot"
test if issue bot can work

[2018-07-10 12:21] #186 closed

[2018-07-10 12:21] njleonzhang opened #187 "issue bot"
test if issue bot can work

[2018-07-10 12:21] #187 closed

[2018-07-10 12:21] njleonzhang commented on #187
Nice

[2018-07-11 01:12] njleonzhang commented on #181
please provide a online demo to describe your question

[2018-07-11 02:32] thearabbit commented on #181
I will try

[2018-07-16 09:09] Lazac92 commented on #107
[Updated link](https://njleonzhang.github.io/vue-data-tables/#/en-us/basic?id=pass-props-to-the-embedded-el-table)

[2018-07-20 09:04] njleonzhang commented on #156
@ahennie @Skoulix I have tried to support ssr. You can have a try in this way:

[code]

[code]

I have tried in a sample poeject of `nuxt.js` and [vue-hacknew-2.0](https://github.com/vuejs/vue-hackernews-2.0). `vue-data-tables/dist/data-tables.server` can work in both scenario. But I am not familiar with SSR development, so would you please help to try in you project, and give me some feedback.

[2018-07-27 07:32] njleonzhang commented on #179
A complex sample: https://github.com/QuellingBlade/tool-bar-hoc

[2018-07-27 08:15] thearabbit commented on #179
Thanks I will check soon

[2018-07-27 08:15] #179 closed

[2018-07-29 16:53] argotri commented on #181
this is the link for reproduce @njleonzhang

http://jsfiddle.net/argo12/cro2njqe/8/

[2018-07-30 01:30] njleonzhang commented on #181
@argotri Please read the [filter section](https://github.com/njleonzhang/vue-data-tables/blob/master/docs/en-us/filter.md#principle-of-data-tables-filter) in the document. You need to leverage [filterFn](https://njleonzhang.github.io/vue-data-tables/#/en-us/filter?id=leverage-filterfn)

[2018-07-30 01:30] #181 closed

[2018-07-30 02:38] argotri commented on #181
Oke thanks for suggestion, i will try it

[2018-08-02 18:00] jakobeissler opened #188 "Filter does not work when updating data with axios"
# Online reproduce
I wasn't able to reproduce error on jsfiddle. This example runs in a nested child defined route.

# Expected Behavior
Data should be updated with data coming from rest api with axios and filter should work

# Current Behavior
Data is updated in table but filter does not work anymore. No matter what is the input text in filter, all data dissappears. However if i update data manua

[2018-08-03 01:25] njleonzhang commented on #188
Although your code looks weird, but should work as expected. 😂 I have no idea why it can not work, please provide a `reproduce project` and push it to github, so that I can look into this issue.

[2018-08-03 12:27] jakobeissler commented on #188
I'va added: prop: ['aaa', 'bbb', 'ccc'] in filters and it is working now.

[2018-08-03 20:35] #188 closed

[2018-08-04 02:10] njleonzhang commented on #188
OK, read [the document](http://blog.leonzhang.tk/vue-data-tables/#/en-us/filter?id=prop-is-undefined) for ore details.

[2018-08-19 18:36] Skoulix commented on #156
Thanks for enhancing the plugin and adding SSR support. Sorry for not being able to reply earlier. I will check the plugin in a SSR environment and I will give feedback a soon as possible.

[2018-08-24 02:09] #100 closed

[2018-08-24 02:09] #56 closed

[2018-08-24 02:09] #115 closed

[2018-08-31 07:05] CristianDuta opened #189 "Getting weird pageSize warning in console"
Steps to reproduce:
- open the developer console from Chrome
- load any page with the vue-data-tables
- observe the following warning:

screen shot: https://imgur.com/a/cGQJZiT

[2018-08-31 07:06] #189 closed

[2018-08-31 07:10] njleonzhang commented on #189
As the warning claimed, you have set pageSize to 20, at the same time pagesSizes to [10,25,50,100], it is conflictive. The lib chose `pageSizes[0]` as a fallback.

[2018-08-31 07:12] CristianDuta commented on #189
Here's how I included the component:
<data-tables :data="alertHistory"
                     :table-props="{stripe: false, border: false}"
                     :show-action-bar="false"
                     :pagination-props="{pageSizes: [10, 25, 50, 100], pageSize: 10}"
                     empty-text="There aren't any alerts in history">....</data-tables>

[2018-08-31 07:16] CristianDuta commented on #189
The example in the description is from the documentation, the problem is also present in there

[2018-08-31 07:17] njleonzhang commented on #189
you can not pass pageSize through `pagination-props`, instead leverage a independent property `page-size` , which support sync modifier. please read the [document](https://www.njleonzhang.com/vue-data-tables/#/en-us/pagination?id=pagination) carefully.
In addition, if you submit a issue, please following the template and provide a reproduce.

[2018-09-04 09:11] icangku commented on #135
Thanks, it works, but It doesn't work when sort, but sort working when it is raw data

[2018-09-08 15:20] icangku opened #190 "Custom Table Column cannot be searched and sorted"
Please follow the issue template, or your issue may be closed automatically.

**For bug report, provide the following section**

# Online reproduce
` <el-table-column v-for="title in titles" :prop="title.prop" :label="title.label" :key="title.prop" sortable></el-table-column>
        <el-table-column label="Due Date" sortable>
          <template slot-scope="scope" :prop="scope.row.due_date">

[2018-09-08 15:51] icangku commented on #190
This is actually element-ui issue, how to solve this is by using prop in every el-table-colum
ex :
` <el-table-column label="Due Date" prop="due_date" sortable>
          <template slot-scope="scope" >
            <h5>{{scope.row.due_date | dateName }}</h5>
          </template>
        </el-table-column>`

[2018-09-10 01:16] icangku commented on #190
It's still not working while searching something, but while sorting its working, can anyone help me? @njleonzhang

[2018-09-10 01:49] icangku commented on #190
Here's my code, using vue-data-tables 3.2.0 and vuejs 2
   `titles : [{prop: 'groups.name', label : 'Grup'}, {prop: 'departments.name', label : 'Departemen'}, {prop:
    'categories.name', label : 'Kategori'}], `

     <data-tables :data="data" :actions-def="actionsDef" :search-def='searchDef'>

      searchDef: {
        props: 'groups.name',
        placeholder : 'Search..'
      },

[2018-09-10 02:46] icangku commented on #190
but its showing correctly,
![image](https://user-images.githubusercontent.com/14269158/45273788-6aa90000-b4de-11e8-863c-8a7f231dfe35.png)
Then how to show something like that?

[2018-09-10 04:02] icangku commented on #190
help me man

[2018-09-10 05:42] njleonzhang commented on #190
@icangku can you provide a online demo？

[2018-09-10 05:53] icangku commented on #190
https://github.com/ElemeFE/element/issues/3308#issuecomment-384943011 - gives me the answer, but the question is how to change the default search method

[2018-09-10 06:27] njleonzhang commented on #190
I am still confusing on what you want. I think you want to sort the table with some special logic.
in current version, [customize-sort-function](https://www.njleonzhang.com/vue-data-tables/#/en-us/sort?id=customize-sort-function-for-data-tables), should be able to help you. This feature should also be able to work in 3.2.0.

please check the [v3.2.0 code](https://github.com/njleonzhang/vue-data-ta

[2018-09-10 10:37] icangku commented on #190
Yeah, as you said earlier that `groups.name` is not supported so I think I need special logic. So that's why mentioned the link that helps me thank you for answering!

[2018-09-12 05:05] icangku commented on #190
the function only working for the current not working for all data, but client needs the searching works for all the data, can help me?

[2018-09-12 06:03] njleonzhang commented on #190
search also support custom function. please read the doc https://github.com/njleonzhang/vue-data-tables/blob/v3.2.0/docs/searchBoxFilter.md

[2018-09-12 07:32] icangku commented on #190
thanks ma man

[2018-09-20 21:42] marcelopbg opened #191 "Row-class-name or similar for row styling."
On El-table there's acctually row-class-name, row-style and cell-style attributes, i've tried to pass this attributes on <data-tables> and it didn't work, i'd like to know if is it possible to pass style to rows, i managed to customize a little bit the table so far, but i'd need to set a background to few rows, based on my data.

Thanks for the awesome lib!

What i have:
![what i have] (https://us

[2018-09-20 21:42] #191 closed

[2018-09-21 18:07] marcelopbg commented on #191
Thank you so much, it worked!

Em qui, 20 de set de 2018 às 22:25, Leon Zhang <notifications@github.com>
escreveu:

[2018-10-02 19:54] #156 closed

[2018-10-29 22:21] isnifer opened #193 "Can't import vue-data-tables source code"
# Detailed Description
I can't compile the code with webpack when I follow guide from [here](https://www.njleonzhang.com/vue-data-tables/#/en-us/quickStart?id=import-vue-data-tables-source-code).

My webpack.config.js
[code]

My `.babelrc`:
[code]

The error:
[code]

Modules:
[code]

@njleonzhang what did I wrong?

[2018-10-30 05:51] njleonzhang commented on #193
it seems `transform-vue-jsx` is not configured in your  babel plugin. so are you sure you have installed and configured all the plugins following their documents?

* babel-plugin-lodash
* babel-plugin-vue-jsx-sync
* babel-plugin-jsx-v-model
* babel-plugin-transform-vue-jsx

[2018-10-30 08:17] isnifer commented on #193
@njleonzhang I have installed next components:
[code]
`@vue/babel-preset-app` contains `babel-plugin-transform-vue-jsx` — https://github.com/vuejs/vue-cli/blob/dev/packages/%40vue/babel-preset-app/package.json

[2018-10-30 08:44] isnifer commented on #193
Removed `@vue/babel-preset-app`. Installed all plugins manually. The same result.
I would like to provide my package.json and webpack.config.js — https://gist.github.com/isnifer/f8f95c6490a8f55086a3142e704f00bf

[2018-10-30 09:00] isnifer commented on #193
A little bit weird. It has been compiled only when I passed config into webpack.config.js:
[code]

[2018-10-30 09:05] njleonzhang commented on #193
1. You are using babel 7. some plugin not work with babel 7, refer to https://www.npmjs.com/package/@vue/babel-preset-app. So I suggest you wait until all the plugins are ready.

2. your log shows that event base vue jsx doesn't work either, You can dig further on the reason if you are interested to it by following vue [jsx document](https://github.com/vuejs/babel-plugin-transform-vue-jsx)

[2018-10-30 09:15] isnifer commented on #193
### Finally, I have fixed this error.

#### [My `package.json`, `webpack.config.js`, `babel.config.js`](https://gist.github.com/isnifer/05949fa6170f63f0732c1aecb553e3a5)

[Now, time to fix next.](https://user-images.githubusercontent.com/1788245/47707629-5a3f1700-dc3d-11e8-9964-cd8fb1aaaf5c.png)

[2018-10-30 09:15] #193 closed

[2018-10-30 10:37] njleonzhang commented on #193
@isnifer great, tnx for sharing. So your .babelrc doesn't work, so you use `babel.config.js`, then things work now?

[2018-10-30 10:39] isnifer commented on #193
@njleonzhang Yes. I don't know actually why. But I thought that real paths to babel plugins will solve the problem. And they solved!

[2018-10-30 10:41] njleonzhang commented on #193
it seems you haven't register component. look at the [source code](https://github.com/njleonzhang/vue-data-tables/blob/master/src/index.js)

you can register components globally or use as local component.

[2018-10-30 10:42] isnifer commented on #193
@njleonzhang Yeah, I saw a source code. Actually, I do not like this idea.
I do not like vue, but I need to write on it. So, I try to create a React from it, lol

[2018-10-30 10:45] njleonzhang commented on #193
@isnifer 😂 now I prefer React to Vue too, but Vue is really powerful and easy to use.

[2018-11-08 00:23] pixelpaulaus opened #194 "How to reset pagination?"
how does one reset the pagination? When i manually update the data.

[2018-11-08 00:23] #194 closed, assigned to nobody

[2018-11-08 00:25] pixelpaulaus opened #195 "How to reset pagination?"
# Online reproduce
no example

# Expected Behavior
a way to reset the pagination

# Current Behavior
no way to do it from what i can find in docs.

# Steps to Reproduce
try to reset page to 1, and pagesize to default.

# Detailed Description
i would like i way to reset the pagination for when i manually update the table data.

[2018-11-08 02:08] njleonzhang commented on #195
property `current-page` supports `sync` modifier, which you can leverage to set the pagination to any number. check the [doc](https://www.njleonzhang.com/vue-data-tables/#/en-us/pagination?id=pagination)

[2018-11-08 02:11] #195 closed

[2018-11-13 06:40] WanNurAdila opened #196 "Horizontal scroll"
Can I make my table scroll horizontally?

[2018-11-13 06:40] #196 closed

[2018-11-13 06:49] njleonzhang commented on #196
@WanNurAdila  fixed width of column can make the table scroll horizontally. example:

http://element.eleme.io/#/en-US/component/table?id=table-with-fixed-column

[2018-11-22 10:39] aTommyWu opened #197 "動作項按鈕的row值會影響到表格data的值"
Please follow the issue template, or your issue may be closed automatically.

**For bug report, provide the following section**

# Online reproduce
It is important to provide an online sample to reproduce the issue.
https://jsfiddle.net/TommyWu/eywraw8t/471129/

# Expected Behavior
當點選edit按鈕後，在下方的input可以編輯 flow_no 的資料，這一筆資料是來自於row，
編輯下方的input時，應該只有dialogData.flow_no的資料會更改，但同時表格內的資料也會跟著變動

# Curren

[2018-11-22 10:39] #197 closed

[2018-11-22 11:02] FreezingRiver commented on #197
这并不是vue-data-tables的问题，ElementUI的表格本身就存在这个情况

[2018-11-23 05:03] njleonzhang commented on #197
@aTommyWu 本质上说这并不是一个 bug, 你在点击按钮的时候把 row 赋值给了 dialogData.

[code]

然后又对 dialogData 的 flow_no 做了 v-model 绑定。
[code]

你第一步的赋值中， dialogData 是对 row 的一个弱引用，他们指向的是同一个对象，所以 dialogData 的 flow_no 属性的修改，就是对 row 的修改，也就出现了你看到的这个现象。本质上这是 javascript 运行的方式，非某一个库的 bug。

你这个例子来说，解决也很简单, 做一个深拷贝就行了:

[code]

[2018-11-27 05:45] manba24 opened #198 "pagination的插槽怎么添加？"
Please follow the issue template, or your issue may be closed automatically.

**For bug report, provide the following section**

# Online reproduce
It is important to provide an online sample to reproduce the issue.
* [Template for reproducing front-end pagination issue](http://jsfiddle.net/zpczjl/9tp3z4bn/)
* [Template for reproducing server-end pagination issue](https://jsfiddle.net/zpczjl/xboja

[2018-11-27 06:05] njleonzhang commented on #198
@manba24 这个暂时还没有支持。可以做下，然后提个 PR，或者等我有空添加一下。

[2018-11-30 08:55] zhumian opened #199 "如何在table里面加入超链接"
Please follow the issue template, or your issue may be closed automatically.

**For bug report, provide the following section**

# Online reproduce
It is important to provide an online sample to reproduce the issue.
* [Template for reproducing front-end pagination issue](http://jsfiddle.net/zpczjl/9tp3z4bn/)
* [Template for reproducing server-end pagination issue](https://jsfiddle.net/zpczjl/xboja

[2018-11-30 09:03] njleonzhang commented on #199
去看下element ui 的文档就知道了。 el-table-column 支持 slot template 的

[2018-11-30 09:03] #199 closed

[2018-12-01 01:19] zhumian opened #200 "如何手动触动表格刷新事件query-info"
Please follow the issue template, or your issue may be closed automatically.

**For bug report, provide the following section**

# Online reproduce
It is important to provide an online sample to reproduce the issue.
* [Template for reproducing front-end pagination issue](http://jsfiddle.net/zpczjl/9tp3z4bn/)
* [Template for reproducing server-end pagination issue](https://jsfiddle.net/zpczjl/xboja

[2018-12-01 04:04] njleonzhang commented on #200
请具体描述你的场景，什么叫手动触发。事件是由一些事件触发的。如果你需要访问上一次 queryinfo 的内容，你可以自己用一个变量记录一下。

[2018-12-04 17:02] ruben82 commented on #126
Hi there, link is not working. I'd need to show all row without pagination. I don't want to see it to my html page too.
How can I achieve it pls? Thanks'

[2018-12-05 02:08] njleonzhang commented on #126
refer to the layout section in the document.

https://www.njleonzhang.com/vue-data-tables/#/en-us/basic?id=layout

[2018-12-13 06:55] XuXiuJuan opened #201 "checkbox列，状态无记录"
Please follow the issue template, or your issue may be closed automatically.

**For bug report, provide the following section**

# Online reproduce
It is important to provide an online sample to reproduce the issue.
* [Template for reproducing front-end pagination issue](http://jsfiddle.net/zpczjl/9tp3z4bn/)
* [Template for reproducing server-end pagination issue](https://jsfiddle.net/zpczjl/xboja

[2018-12-13 07:19] njleonzhang commented on #201
这是预期的行为，翻页之后，表格实际重新渲染了，表格本身不会没有做记录。

你可以通过 `selection-change` 事件自己记录选择过的 row，然后在翻页的时候利用 `toggleRowSelection` 方法去实现勾选。

如果这个需求，想要的人多的话，我也考虑，后期在这个库里实现。

[2018-12-14 12:25] tiagosimoesdev opened #202 "Failed to Compile"
Running yarn dev throws

[code]

My webpack.config.js
[code]
`

My package.json

[code]

[2018-12-14 12:25] #202 closed, assigned to nobody

[2018-12-14 12:33] tiagosimoesdev opened #203 "Failed to Compile"
# Online reproduce
..

# Expected Behavior
Should compile

# Current Behavior
Does not compile

# Steps to Reproduce
..
# Detailed Description

Running yarn dev throws

[code]

My webpack.config.js
[code]
`

My package.json

[code]

[2018-12-15 02:43] njleonzhang commented on #203
You want to compile from source, but you have exclude vue-data-tables's source.

[code]

 please refer to the document for more details.
https://www.njleonzhang.com/vue-data-tables/#/en-us/quickStart?id=import-vue-data-tables-source-code

[2018-12-19 06:34] #203 closed

[2018-12-25 08:37] aTommyWu opened #204 "Selection-change 點第二次無效"
Please follow the issue template, or your issue may be closed automatically.

**For bug report, provide the following section**

# Online reproduce
    https://jsfiddle.net/TommyWu/hjc2b1em/1/

# Expected Behavior
Selection-change時，同一列，每次click都有效

# Current Behavior
Selection-change時，同一列的第一次click有效，但第二次卻無反應

[2018-12-25 08:37] #204 closed

[2019-01-10 09:06] songbambi opened #205 "服务端排序，点击多次同一个排序列，发现传参post里的sort的prop和order都是null值"
{type: "sort", page: 1, pageSize: 5, sort: {prop: null, order: null}, filters: []}
filters: []
page: 1
pageSize: 5
sort: {prop: null, order: null}
type: "sort"

操作：就是正常点击正序，点击倒序，点击正序，如此几次，就出现了null，求解

[2019-01-10 09:06] #205 closed

[2019-01-10 09:12] songbambi opened #206 "服务端排序，点击多次同一个排序列，发现传参post里的sort的prop和order都是null值"
# Online reproduce
It is important to provide an online sample to reproduce the issue.
* [Template for reproducing front-end pagination issue](http://jsfiddle.net/zpczjl/9tp3z4bn/)
* [Template for reproducing server-end pagination issue](https://jsfiddle.net/zpczjl/xboja87c/)

# Expected Behavior
服务端排序，点击多次同一个排序列，发现传参post里的sort的prop和order都是null值 #205

{type: "sort", page: 1, pageSize: 5, sort: {pr

[2019-01-10 09:21] songbambi commented on #206
演示站jsfiddle 的server演示同样存在问题，多点几次

[2019-01-10 11:04] njleonzhang commented on #206
@songbambi elment-ui 的排序逻辑是 3 次，第一次点升序，第二次点降序，再点就是不用这列排序， prop 和 order 就会是  null.

[2019-01-10 11:04] #206 closed

[2019-01-10 16:45] #198 closed

[2019-01-14 14:38] #200 closed

[2019-01-23 13:37] iparrabb opened #207 "IE11 - Object doesn't support property or method 'includes'"
Hi,
This error appears on IE11 || <, any idea?
I have applied the includes polyfill without lucky.

[code]

Thanks.

[2019-01-23 13:47] iparrabb opened #208 "IE11 - Object doesn't support property or method 'includes'"
# Expected Behavior
That works on IE11

# Current Behavior
Not works

# Steps to Reproduce
Test with IE11

# Detailed Description
Object doesn't support property or method 'includes', this error appears on IE11 || <, any idea?

**For feature request, provide the following section**
# Motivation / Use Case

# Expected Behavior

# Other Information

[2019-01-24 01:58] njleonzhang commented on #207
can you provide a reproduce demo?

[2019-01-24 01:58] #207 closed

[2019-01-24 02:01] njleonzhang commented on #208
can you provide a reproduce demo? In the [issue template](https://github.com/njleonzhang/vue-data-tables/blob/master/.github/issue_template.md), you can find boilerplate.

[2019-01-26 20:36] #201 closed

[2019-02-06 05:06] njordr opened #209 "Columns order change between dev and prod"
# Online reproduce
http://jsfiddle.net/tjgqszLy/ (it's fake, I cannot reproduce it, please continue reading)

# Expected Behavior
The columns display in the order I defined them in the code

# Current Behavior
After compile the code for prod (npm run build:prod) the column are displayed in a different order

# Steps to Reproduce
Define them in a particular order and then compile the source for pro

[2019-02-08 08:48] njleonzhang commented on #209
@njordr it's weird, but the order is not determined by `vue-data-tables`, it's the logic of `el-table`, and should be same with the order you write `el-table-column`  in the template.
1. try to change the `data-tables` to `el-table` and check if the issue(messy column order) can reproduce. If the issue persists, then you can go to check if this is a `el-table` bug.
2. provide me a reproduce projec

[2019-02-11 10:59] njordr commented on #209
@njleonzhang Thanks, I'll have a look and eventually come back to you if something related to vue-data-tables

[2019-02-11 10:59] #209 closed

[2019-02-11 20:42] hamittokay opened #210 "toggleRowExpansion method doesn't exist on component"
#Feature Request

toggleRowExpansion method should be implemented on vue-data-tables too which i can do in element fw. datatable.

[2019-02-11 20:42] #210 closed

[2019-02-12 02:06] njleonzhang commented on #210
refer to https://github.com/njleonzhang/vue-data-tables/issues/148, you can leverage refs.

[2019-02-22 10:53] zek opened #211 "Vue warn Computed property "validateState" was assigned to but it has no setter"
# Online reproduce

# Current Behavior
[Vue warn]: Computed property "validateState" was assigned to but it has no setter.

found in
[code]
# Steps to Reproduce
[code]
# Detailed Description
I get the warning all the time even in the code given above.

# Other Information
element-ui 2.5.4
vue-data-tables 3.4.4

I am using nuxt and marked them ssr false

{src: '~plugins/element-ui', ssr: false},
{s

[2019-02-22 11:15] njleonzhang commented on #211
`validateState` is not a variable of `vue-data-tables`, please check your own code.

[2019-02-22 11:15] #211 closed

[2019-02-22 16:05] zek commented on #211
I also tried the referenced method but warning persists.

If I hide pagination, warning is gone. Maybe this is a bug related to element-ui and you are using old buggy version?

[code]

[2019-02-23 03:46] njleonzhang commented on #211
I have checked the online [demo](https://jsfiddle.net/zpczjl/xboja87c/), and have not found the issue you mentioned. `element-ui` is not built into vue-data-tables, but a peer dependency, so you can determine the version of `element-ui`.

By searching `validateState` in `element-ui` [code](https://github.com/ElemeFE/element/search?q=validateState&unscoped_q=validateState) , I find that the variabl

[2019-02-23 10:44] zek commented on #211
I know you can't reproduce the issue in jsfiddle but this is a nuxt project. Obviously it works in normal environment but my problem occurs in nuxt and I dont know how to simulate nuxt as you do in jsfiddle.

You can see my main layout in the picture. There is no other code. What can I check 😞

![image](https://user-images.githubusercontent.com/3463291/53285218-37e28380-376f-11e9-8b82-1628799b3e82

[2019-02-23 10:47] zek commented on #211
I can render el-pagination easily and I get no warning
[code]

[2019-02-23 10:56] zek commented on #211
I guess this bug is related to element-ui. Sorry for my inconvenience

[2019-02-24 15:22] srbala commented on #208
IE 11 does not have method 'includes', workaround would be adding a polyfill method https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/includes#Polyfill

[code]

[2019-02-24 15:25] srbala commented on #208
@iparrabb I usually prefers to have polyfills in high level, once per app

[2019-02-25 02:09] njleonzhang commented on #208
Yeah, user should handle the polyfill.

[2019-02-25 02:09] #208 closed

[2019-02-25 02:12] njleonzhang commented on #211
@zek OK, maybe you can provide a sample Nuxt project to repro the issue, otherwise I am afraid `element-ui` would not help you.

[2019-02-25 02:48] srbala commented on #208
@njleonzhang It would be good idea to add a note in documentations for IE support, since your datatable has includes methods.

[2019-02-25 04:02] njleonzhang commented on #208
@srbala tnx for suggestion, will add to the document.

[2019-02-25 06:11] njleonzhang commented on #208
added https://www.njleonzhang.com/vue-data-tables/#/en-us/quickStart?id=polyfill

[2019-03-09 19:22] zek commented on #211
https://github.com/ElemeFE/element/issues/14467#issuecomment-469610258

[2019-03-27 22:02] ruslanraupoff opened #212 "How to add expandable?"
http://element.eleme.io/#/en-US/component/table#expandable-row

[2019-03-27 22:02] #212 closed

[2019-03-28 02:28] njleonzhang commented on #212
same to el-table, refer to http://jsfiddle.net/zpczjl/9tp3z4bn/

[2019-03-30 16:08] ruslanraupoff commented on #212
@njleonzhang Thanks!!

[2019-04-18 12:10] kerimkuscu opened #213 "Need Tooltip"
# Other Information
Need tooltip for action button.

[2019-04-18 12:10] #213 closed

[2019-05-07 07:38] zaxlct opened #214 "tool, table, pagination 两两之间添加间距"
如何为 tool, table, pagination 两两之间添加间距？
或者默认能不能给它们添加间距？

[2019-05-07 07:38] #214 closed

[2019-05-07 07:41] zaxlct opened #215 "tool, table, pagination 两两之间添加间距"
Please follow the issue template, or your issue may be closed automatically.

**For bug report, provide the following section**
如何为 tool, table, pagination 两两之间添加间距？
或者它们之间默认能不能有间距？

# Online reproduce
It is important to provide an online sample to reproduce the issue.
* [Template for reproducing front-end pagination issue](http://jsfiddle.net/zpczjl/9tp3z4bn/)
* [Template for reproducing server-e

[2019-05-07 07:52] zaxlct opened #216 "希望需求：动作列 buttons 添加 visible 属性"
Please follow the issue template, or your issue may be closed automatically.

**For bug report, provide the following section**

[code]

# Online reproduce
It is important to provide an online sample to reproduce the issue.
* [Template for reproducing front-end pagination issue](http://jsfiddle.net/zpczjl/9tp3z4bn/)
* [Template for reproducing server-end pagination issue](https://jsfiddle.net/zpcz

[2019-05-07 11:11] njleonzhang commented on #215
间距，你自己加 css 实现就好了啊。

[2019-05-07 11:11] #215 closed

[2019-05-07 11:14] njleonzhang commented on #216
https://www.njleonzhang.com/vue-data-tables/#/zh-cn/actionCol?id=%E5%BF%AB%E9%80%9F%E7%94%9F%E6%88%90%E5%8A%A8%E4%BD%9C%E5%88%97

参照文档和例子，使用 `props ` 属性可以实现。

[2019-05-07 11:14] #216 closed

[2019-05-21 13:41] moabtools opened #217 "How to save selection between pages?"
# Online reproduce
First table on: https://www.njleonzhang.com/vue-data-tables/#/en-us/event

# Expected Behavior
Selected rows do not deselectes when page changes

# Current Behavior
Selection losts when page changed

# Steps to Reproduce
1. select some rows in table
2. go to page 2
3. return to page 1

# Detailed Description
Simply select some rows in your first sample table, then go to page 2,

[2019-06-05 03:07] njleonzhang commented on #217
I think you need store the selected rows by yourself, and leverage el-table apis, such as `toggleRowSelection`, to implement.

[2019-06-05 07:46] moabtools commented on #217
Of course I can do it. But you know, any professional tables implemented this behaviour by default.

[2019-06-05 08:15] njleonzhang commented on #217
currently, it is not supported. I will consider to implement.

[2019-06-17 14:14] assasin-lv opened #218 "rowClassName"
# Other Information
the row class name don't found in data-table-server

[2019-06-17 14:14] #218 closed

[2019-06-18 03:21] njleonzhang commented on #218
https://www.njleonzhang.com/vue-data-tables/#/en-us/basic?id=pass-props-to-the-embedded-el-table

[2019-06-21 07:04] wxxcarl opened #219 "query-info参数能自定义吗？"
# Motivation / Use Case
`query-info`里的参数能自定义吗？没找到哪里配置，比如分页参数不是`page`和`pageSize`,而是`current`, `length`之类的
# Expected Behavior

# Other Information

[2019-06-23 12:31] njleonzhang commented on #219
这个为什么要自定义呢？你想把我给你的结构直接用不转么

[2019-06-23 12:36] #219 closed

[2019-06-24 07:35] manba24 opened #220 "如何动态渲染action-def-col?(例如根据每条row的状态，来控制操作按钮的显示隐藏)"
Please follow the issue template, or your issue may be closed automatically.

**For bug report, provide the following section**

# Online reproduce
It is important to provide an online sample to reproduce the issue.
* [Template for reproducing front-end pagination issue](http://jsfiddle.net/zpczjl/9tp3z4bn/)
* [Template for reproducing server-end pagination issue](https://jsfiddle.net/zpczjl/xboja

[2019-06-24 07:43] manba24 commented on #220
给每一行的row配置不同的操作按钮

[2019-06-24 09:22] njleonzhang commented on #220
https://www.njleonzhang.com/vue-data-tables/#/zh-cn/actionCol?id=%E8%87%AA%E5%AE%9A%E4%B9%89%E5%8A%A8%E4%BD%9C%E5%88%97

[2019-06-25 00:56] manba24 commented on #220
哈哈 找了半天 刚刚发现了，谢谢了

[2019-06-25 00:56] #220 closed

[2019-07-02 00:13] Bagovi opened #221 "Reset sort"
Hi,

Is there a way to trigger sort reset, i looked at documentation about el-table and there is method clearSort();

SInce i'am using data-tables-server component i'm looking for a way to trigger that clearSort() method without clicking on el-table-column label.

[2019-07-02 00:13] #221 closed

[2019-07-02 02:35] njleonzhang commented on #221
refer to https://github.com/njleonzhang/vue-data-tables/issues/148

[2019-07-05 11:42] zaxlct opened #222 "「彻底解放双手」的建议"
感谢作者的 [vue-data-tables](https://github.com/njleonzhang/vue-data-tables) 和 [el-form-dialog](https://github.com/njleonzhang/el-form-dialog)，我的管理后台项目中大量使用了它们，真心舒服~省了很多代码（先舔一波😂）

不过我觉得这些加起来还是没有彻底解放双手，有个痛点没解决：
平时我们使用的 element table 时候往往是这样写的
[code]
各种 `el-table-column` 和 `template scope="scope` 神烦，大量重复冗余不利于维护，而且还不能复用。。

于是在发现了 [Egrid](https://github.com/kinglisky/egrid)，解决了这个痛点

Egrid 的源码实现很简单，然后我突发奇想能

[2019-07-05 11:43] #222 closed

[2019-07-05 11:52] zaxlct opened #223 "「彻底解放双手」的建议"
Please follow the issue template, or your issue may be closed automatically.

**For bug report, provide the following section**

# Online reproduce
感谢作者的 [vue-data-tables](https://github.com/njleonzhang/vue-data-tables) 和 [el-form-dialog](https://github.com/njleonzhang/el-form-dialog)，我的管理后台项目中大量使用了它们，真心舒服~省了很多代码（先舔一波😂）

不过我觉得这些加起来还是没有彻底解放双手，有个痛点没解决：
平时我们使用的 element table 时候往往是这样写的
[code]
各种 `el-t

[2019-07-06 09:44] njleonzhang commented on #223
可以提供你同时使用的一些例子看看么。

[2019-07-07 02:54] zaxlct commented on #223
@njleonzhang

# Egrid 的优势
## 1. 不用写 `el-table-column` 和 `template scope="scope` 等样板代码
[code]

## 2. columns-schema 和 columns-handler	可对 columns 进行增删改操作
[code]
## 3. 表格继承
少写样板代码似乎带来的兴奋不是那么大，但是通过传递对象和函数对 columns 进行增删改操作，就有很大的操作空间了，比如可以实现「表格的继承」

我可以定义一个基础的表格组件：
[code]

再定义一个高级的表格组件：
[code]

[2019-07-07 03:03] zaxlct commented on #223
所以当项目使用 `Egrid` 后，再把 `vue-data-tables` 和 `el-form-dialog` 用起来，简直完美~

[2019-07-08 02:21] njleonzhang commented on #223
看起来 Egrid 对 render 做了封装。

[2019-07-11 11:27] akbarsaputrait opened #224 "How to hide spesific column?"

[2019-07-11 11:27] #224 closed

[2019-07-11 11:40] akbarsaputrait opened #225 "How to hide spesific column?"
# Motivation / Use Case
I need to hide my spesific column, and add some action button also when i click it, will return the the value of column that i hide.
# Expected Behavior
I cant hide my spesific column, like some ```id``` of my data

[2019-07-11 11:40] #225 closed

[2019-07-11 11:53] akbarsaputrait opened #226 "How to hide spesific column?"
# Online reproduce
https://www.njleonzhang.com/vue-data-tables/#/en-us/event

# Expected Behavior
Add the hidden spesific column feature please.
# Current Behavior
I cant hide my spesific column
# Steps to Reproduce
-
# Detailed Description
-
#Motivation / Use Case
I need to hide my spesific column, and add some action button also when i click it, will return the the value of column that i hide.

[2019-07-11 13:16] njleonzhang commented on #226
It seems el-table itself doesn't have this feature.
I think you can hide the content of the column, and then show it after click some button as a workaround.

[2019-07-11 13:54] akbarsaputrait commented on #226
So, if i have a ```data``` like this `{
            id: 1,
            name: "Inventory 1",
            store: "Store A",
            space: "Space A",
            qty_in: "10",
            qty_out: "5",
          }` i just need to doesn't set `prop: id` to hide the `id` value ,right?

and then, if i need to get the `id` value, just like this `props.row.id` right??

[2019-07-12 05:55] njleonzhang commented on #226
I have just tried, you can implement via `v-if` on `el-table-column`, sample:

http://jsfiddle.net/zpczjl/a72oqevy/2/

[2019-07-12 05:55] #226 closed

[2019-08-08 13:39] xlz26296 commented on #223
给你参考一个更加彻底解放双手的 [vxe-table](https://xuliangzhan.github.io/vxe-table/#/table/base/basic) 哈

[2019-09-12 07:47] kamran1 opened #228 "rowspan and colspan missing"
Please follow the issue template, or your issue may be closed automatically.

**For bug report, provide the following section**

# Online reproduce
It is important to provide an online sample to reproduce the issue.
* [Template for reproducing front-end pagination issue](http://jsfiddle.net/zpczjl/9tp3z4bn/)
* [Template for reproducing server-end pagination issue](https://jsfiddle.net/zpczjl/xboja

[2019-10-01 01:27] jonasdulay28 opened #229 "How to put image"
I cant put an image or any html please help

[2019-10-01 01:27] #229 closed

[2019-10-01 01:28] jonasdulay28 opened #230 "How to put an customize data like html for data column/row"
Please follow the issue template, or your issue may be closed automatically.

**For bug report, provide the following section**

# Online reproduce
It is important to provide an online sample to reproduce the issue.
* [Template for reproducing front-end pagination issue](http://jsfiddle.net/zpczjl/9tp3z4bn/)
* [Template for reproducing server-end pagination issue](https://jsfiddle.net/zpczjl/xboja

[2019-10-08 02:46] njleonzhang commented on #230
you can render anything you want with `slot-scope`, example:

[code]
It's the feature of `el-table-column`

[2019-10-08 02:46] #230 closed

[2019-10-08 23:09] jonasdulay28 commented on #230
why are fonts not supported? i am receiving this error
[image: image.png]

On Tue, Oct 8, 2019 at 10:46 AM Leon Zhang <notifications@github.com> wrote:

--

*JONAS R. DULAY*
*FEU Institute of Technology*
*Bachelor of Science in Information Technology*
*with **specialization in Web and Mobile Application*

*Web Developer / Web Designer / Software Tester*

[2019-10-09 02:33] njleonzhang commented on #230
I can not see your error.

[2019-10-21 10:57] kerimkuscu opened #231 "Pagination Not Working"
Please follow the issue template, or your issue may be closed automatically.

**For bug report, provide the following section**

# Online reproduce
It is important to provide an online sample to reproduce the issue.
* [Template for reproducing front-end pagination issue](http://jsfiddle.net/zpczjl/9tp3z4bn/)
* [Template for reproducing server-end pagination issue](https://jsfiddle.net/zpczjl/xboja

[2019-10-23 07:08] user-GitHub-user opened #232 "How to excute clearSelection() function by vue-date-tables ref?"
Please follow the issue template, or your issue may be closed automatically.

**For bug report, provide the following section**

# Online reproduce
It is important to provide an online sample to reproduce the issue.

# Expected Behavior
clear selection by excute clearSelection function
# Current Behavior
I have no idea how to do this

[2019-10-23 07:08] #232 closed

[2019-10-23 07:28] njleonzhang commented on #232
refer to https://github.com/njleonzhang/vue-data-tables/issues/148, you can leverage refs.

[2019-10-23 07:50] user-GitHub-user commented on #232
it's works ,thanks!

[2019-10-26 10:36] #228 closed

[2019-11-18 11:17] njleonzhang commented on #231
please provide reproduce demo

[2019-11-18 11:17] #231 closed

[2019-11-19 20:50] ajm5774 opened #235 "Non-server data-tables component not respecting 'default-sort' table option"
# Online reproduce
https://jsfiddle.net/eyn2x0rf/

# Expected Behavior
Non-server table defaultSort should apply sort when table is created

# Current Behavior
Non-server table defaultSort doesn't seem to do anything

# Steps to Reproduce
1. Create non-server table with table id and name columns. Set default sort to name descending
1. Populated table with data with id and name where the name is no

[2019-11-21 09:13] #235 closed

[2019-11-21 10:50] CMarzin commented on #217
I have found a workaround for the moment, you can do this
`this.$refs.periodDatatable.$children[0].toggleRowSelection(this.data[1])`

Selected the first children of the data-table-server because its a wrapper around `el-table` from element ui, and with this code `this.$refs.periodDatatable.$children[0]`  you can leverage every native function of the EL TABLE component.

It works but i don't know i

[2019-11-21 11:33] njleonzhang commented on #217
I have been really busy recently, I am afraid I can not implement this feature in short term. PR is welcomed. 😭

[2019-11-21 13:39] CMarzin commented on #217
It's ok no problem I will try to implement it myself and then I will a PR, thanks for your libs it has helped me quite a lot this year !!

[2019-12-12 09:51] stefanknegt opened #244 "Support for tree data"
I was wondering whether this package supports tree data like the table of element-ui does. I have implemented the expandable row with tree data in the default element-ui table and there it works, but the exact same code does not work here. Is this something the package does not support yet or should I report it as a bug? Thanks!

[2019-12-12 09:51] #244 closed

[2019-12-12 10:51] stefanknegt opened #245 "Unable to show tree data"
# Online reproduce
http://jsfiddle.net/5ecp2nox/41/

# Expected Behavior
The expected behavior is that the row is expandable and collapsable since it has children.

# Current Behavior
The row does not expand or collapse at all.

# Steps to Reproduce
See the fiddle.

# Detailed Description
I am trying to use tree data in the table, but I can't get the child row to expand collapse.

[2019-12-12 15:20] njleonzhang commented on #245
I have just tried, it seems cannot work. I will try to make things work ASAP.

[2019-12-12 15:55] stefanknegt commented on #245
Thanks, do you have any idea how long it will take?

[2019-12-13 02:17] njleonzhang commented on #245
@stefanknegt it works, just refer to https://codepen.io/leonz/pen/JjoKeNx

[2019-12-13 02:17] #245 closed

[2019-12-15 12:19] phanchanra opened #246 "I have 40000 records I wonder why it loading slow?"
Please follow the issue template, or your issue may be closed automatically.

**For bug report, provide the following section**

# Online reproduce
It is important to provide an online sample to reproduce the issue.
* [Template for reproducing front-end pagination issue](http://jsfiddle.net/zpczjl/9tp3z4bn/)
* [Template for reproducing server-end pagination issue](https://jsfiddle.net/zpczjl/xboja

[2020-01-06 18:16] aFluxx opened #247 "Make entire row expand on click"
**For feature request, provide the following section**
# Motivation / Use Case
Now it's kinda hard to click on the small chevron to expand the row, it would be cool if we could make the entire row clickable.

# Expected Behavior

Expand entire row on click anywhere;

# Other Information

I have tried this implementation for <el-table>
https://stackoverflow.com/questions/52033039/how-to-make-a-tabl

[2020-01-07 03:08] njleonzhang commented on #247
refer to https://github.com/njleonzhang/vue-data-tables/issues/148, you can leverage refs.

[2020-01-07 03:08] #247 closed

[2020-01-07 23:54] tripflex commented on #160
For anybody finding this, the original author was talking about "mutliple" columns, just follow instructions on element UI and add the `@selection-change` to `data-tables` as in the example here:
https://element.eleme.io/#/en-US/component/table#multiple-select

For single column selection

[2020-01-08 09:14] aFluxx commented on #247
Alright thanks, using double $refs did the trick.

First the one of my vue-datatables, then of the el-table, thanks for pointing me in the right direction!

[2020-01-16 04:09] robertnicjoo opened #248 "How to use dynamic data"
Please follow the issue template, or your issue may be closed automatically.

# Expected Behavior
Show dynamic data in table

# Current Behavior
Nothing prints in table

# Detailed Description

My view

[code]

My function

[code]
Data

![fff](https://user-images.githubusercontent.com/8672823/72492660-91a0e000-3850-11ea-9141-7c997386988f.png)

Result

![Screenshot (14)](https://user-images.githubu

[2020-01-16 04:09] #248 closed

[2020-01-20 07:48] robertnicjoo opened #249 "How to pass photo url in el-table-column"
Please follow the issue template, or your issue may be closed automatically.

**For bug report, provide the following section**

# Online reproduce
It is important to provide an online sample to reproduce the issue.
* [Template for reproducing front-end pagination issue](http://jsfiddle.net/zpczjl/9tp3z4bn/)
* [Template for reproducing server-end pagination issue](https://jsfiddle.net/zpczjl/xboja

[2020-01-21 02:26] njleonzhang commented on #249
please follow sample to make a reproduce. I can not get your point.

but if you want to custom a column, you can follow https://www.njleonzhang.com/vue-data-tables/#/en-us/actionCol?id=customize-the-action-column

http://jsfiddle.net/zpczjl/9tp3z4bn/

[2020-01-21 02:35] robertnicjoo commented on #249
@njleonzhang here is what i want

![Screenshot (26)](https://user-images.githubusercontent.com/8672823/72770704-3c3e4780-3c31-11ea-93a7-61e19c775961.png)

I just want to show my products image in cover column. Currently i only get url and unable to use `<img` tag.

[2020-01-21 03:02] robertnicjoo commented on #249
@njleonzhang here is result based on your suggestion `slot-scope`

![44](https://user-images.githubusercontent.com/8672823/72771944-1adf5a80-3c35-11ea-850c-d9ed9092bce9.png)

![45](https://user-images.githubusercontent.com/8672823/72771954-1f0b7800-3c35-11ea-841b-fce495073c7d.png)

[2020-01-21 14:32] njleonzhang commented on #249
I think you should use :src="photo", anyway it's not an issue about `vue-data-talbes`.

[2020-01-21 14:32] #249 closed

[2020-01-22 09:52] robertnicjoo commented on #249
Well this was closed by no valid answer provided, so i add final code and try to actually help whoever comes here in future.

### Final code

[code]

### Explanation

The error that i got in my screenshot above about `scope` was because it requires to provide information of that `scope slot` so i had to add `scope.row.photo` in my `:src` and `:src` without `scope.row` won't work at all.

Note: as

[2020-01-23 09:40] robertnicjoo opened #250 "How to open actionCol in new tab"
Please follow the issue template, or your issue may be closed automatically.

**For bug report, provide the following section**

# Online reproduce
It is important to provide an online sample to reproduce the issue.
* [Template for reproducing front-end pagination issue](http://jsfiddle.net/zpczjl/9tp3z4bn/)
* [Template for reproducing server-end pagination issue](https://jsfiddle.net/zpczjl/xboja

[2020-01-28 13:33] #246 closed

[2020-01-30 07:09] robertnicjoo opened #251 "Prop gets array issue"
Please follow the issue template, or your issue may be closed automatically.

**For bug report, provide the following section**

# Online reproduce
It is important to provide an online sample to reproduce the issue.
* [Template for reproducing front-end pagination issue](http://jsfiddle.net/zpczjl/9tp3z4bn/)
* [Template for reproducing server-end pagination issue](https://jsfiddle.net/zpczjl/xboja

[2020-01-31 09:22] robertnicjoo commented on #250
no one has idea?

[2020-02-02 13:46] njleonzhang commented on #250
it seems not a an question about this project.
follow stackoverflow to solve your problem: https://stackoverflow.com/questions/4907843/open-a-url-in-a-new-tab-and-not-a-new-window

[2020-02-02 13:46] #250 closed

[2020-02-02 14:15] njleonzhang commented on #251
For complex situation, filter function is suggested. The filter is designed too complex 😂

[2020-02-03 00:22] robertnicjoo commented on #251
it's not complex situation it's very simple situation in fact it's exactly same as documentation sample code. if it was require separate function i think in document would have used function as well, i think it's mostly a bug rather than complex.

Document says if you don't specify prop it should search in all columns of table, but it doesn't. so most likely a bug.

[2020-02-03 02:05] njleonzhang commented on #251
@robertnicjoo would you please provide a reproduce link. It works in my sample, https://jsfiddle.net/7Lq59h3j/

[2020-02-03 02:22] robertnicjoo commented on #251
@njleonzhang I've made this (there is 1 issue due, i couldn't make dummy data appear in table :-p )

https://jsfiddle.net/robertnicjoo/prm7uxjc/7/

[2020-02-03 02:26] robertnicjoo commented on #251
@njleonzhang  ok try this now https://jsfiddle.net/robertnicjoo/prm7uxjc/8/

[2020-02-03 07:17] njleonzhang commented on #251
The provided demo works correctly.

[2020-02-04 01:17] robertnicjoo commented on #251
@njleonzhang yes i have tried it as well and it works in jsfiddle however not in my app, i will dig dipper thanks for your time.

[2020-02-04 01:17] #251 closed

[2020-02-14 09:14] heang96 opened #252 "[Help] Pager Count Invalid Prop"
Please tell me,i want to use a property `pager-count` with pagintation in `data-tables & data-tables-server`
`Ex:`
``<data-tables-server
    :data="data"
    :total="total"
    :pagination-props="{ pageSizes: [ 5],`pagerCount:3`,layout:  prev, pager, next, total }"
    @query-change="loadData" >
      <el-table-column v-for="title in titles" :prop="title.prop" :label="title.label" :key="title.labe

[2020-02-14 09:14] #252 closed

[2020-02-19 10:20] stefanknegt opened #253 "Lazy loading tree data"
# Online reproduce
https://codepen.io/steeviek/pen/yLNJWVP

# Expected Behavior
The rows are expandable and the load method is called to show the tree data.

# Current Behavior
Unable to expand the rows when 'children' arrays are empty in the beginning. However, I want to be able to lazy load the children rows, just like in Element-UI (see https://element.eleme.io/#/en-US/component/table).

[2020-02-19 10:20] #253 closed

[2020-02-19 10:24] stefanknegt opened #254 "Lazy loading tree data"
# Online reproduce
https://codepen.io/steeviek/pen/yLNJWVP

# Expected Behavior
The rows are expandable and the load method is called to show the tree data.

# Current Behavior
Unable to expand the rows when 'children' arrays are empty in the beginning. However, I want to be able to lazy load the children rows, just like in Element-UI (see https://element.eleme.io/#/en-US/component/table).

# Step

[2020-02-19 10:26] stefanknegt commented on #254
I've found the solution: you need to set lazy to true in the tableprops and not on the table itself.

[2020-02-19 10:26] #254 closed

[2020-03-05 04:50] fqtyfz opened #255 "不支持表头合并吗？"
el-table不是有:span-method="arraySpanMethod"
可以自定义合并表头，但是data-tables绑定了这个属性没用。是不支持表头合并吗？

[2020-03-05 04:50] #255 closed

[2020-03-06 02:03] njleonzhang commented on #255
文档里有介绍的，可以看下。

[2020-03-06 03:45] taoqi0813 opened #256 "我该怎么获取el-table元素来调用其方法？"
我该怎么获取el-table元素来调用其方法？

[2020-03-06 03:45] #256 closed

[2020-03-06 06:39] njleonzhang commented on #256
https://github.com/njleonzhang/vue-data-tables/issues/148

[2020-04-10 12:57] aydinvivik opened #257 "Filtering problem"
# Online reproduce
https://jsfiddle.net/76qLyz5m/

# Expected Behavior

filtering the selected value

# Current Behavior

If the selected value is spent in another item, it filters it as well. (Agent = Cargo Agent, Active = Inactive)

# Steps to Reproduce

# Detailed Description

The Agent value should not show the Cargo Agent value in the selection.

[2020-04-14 08:18] emacle opened #258 "latest src code can not find debounceTime is it be removed?"
There seems to be no such example for debounce in data-table-server in the documentation

[2020-04-14 08:18] #258 closed

[2020-04-14 08:20] emacle opened #259 "latest src code can not find debounceTime is it be removed?"
**For feature request, provide the following section**
# Motivation / Use Case
debounce time

# Expected Behavior

# Other Information

There seems to be no such example for debounce in data-table-server in the documentation,

[2020-04-15 02:54] njleonzhang commented on #259
what‘s your meaning by `debounceTime`?

[2020-04-17 02:17] emacle commented on #259
想请教一下 使用vue-data-server 时， 输入查询过滤时能否使用 debounce(防抖动函数)，现在是监听每输入一个字符，都会向服务端发送一次请求，我看其他issue https://github.com/njleonzhang/vue-data-tables/issues/133#issuecomment-355183503 说有这个参数 但是找了找 没有找到这个设置

[2020-04-17 04:02] njleonzhang commented on #259
那个是以前版本的一个 issue 了，现在的版本库里面我没有提供内置的 searchbox 了，searchbox 是用户自己画的，debounce 需要你自己处理了。

[2020-04-17 04:02] #259 closed

[2020-04-20 06:32] emacle commented on #259
好的 谢谢 回复太及时了

[2020-06-28 10:20] Chill-Cool commented on #223
用一行<el-table-column v-for="(col, i) in columns" :key="i" v-bind="col"></el-table-column>可以解决hard-code column的问题

[2020-07-16 04:04] robertnicjoo opened #261 "fixed header"
Please follow the issue template, or your issue may be closed automatically.

**For bug report, provide the following section**

# Online reproduce
It is important to provide an online sample to reproduce the issue.
* [Template for reproducing front-end pagination issue](http://jsfiddle.net/zpczjl/9tp3z4bn/)
* [Template for reproducing server-end pagination issue](https://jsfiddle.net/zpczjl/xboja

[2020-08-30 23:39] #261 closed

[2020-10-21 14:20] gech4me opened #266 ":row-class-name prop not working"
Please follow the issue template, or your issue may be closed automatically.

**For bug report, provide the following section**

# Online reproduce
It is important to provide an online sample to reproduce the issue.
* [Template for reproducing front-end pagination issue](http://jsfiddle.net/zpczjl/9tp3z4bn/)
* [Template for reproducing server-end pagination issue](https://jsfiddle.net/zpczjl/xboja

[2020-10-26 13:28] njleonzhang commented on #266
check the doc, you can find how to pass props to the embedded el-table

[2020-10-26 13:28] #266 closed

[2020-11-27 07:51] sonriku opened #267 "data total is wrong"
when table data is null ,the total show "15" not "0"

[2020-11-28 12:08] #267 closed

[2020-11-28 12:10] njleonzhang commented on #267
Tnx for report. Will fix ASAP

[2020-12-03 04:57] cshenger opened #268 "请问这套组件可以解决elementi-ui的表格在数据量大的时候页面卡顿的问题吗？"
因为业务需求，element-ui的表格在我们的项目中略有卡顿，所以我才想在github上看一看有没有类似解决办法的组件，请问这套组件可以解决elementi-ui的表格在数据量大的时候页面卡顿的问题吗？谢谢

[2020-12-03 04:57] #268 closed

[2020-12-03 09:42] #257 closed

[2020-12-06 11:02] njleonzhang commented on #268
不分页一次性加载大量数据么？现在没有做虚拟列表处理呢。

[2021-03-19 01:18] areisyus commented on #138
The fiddle example uses a DataTable not a DataTableServer component so I think I missed something here and still dont get how could I programatically refresh a DataTableServer...

My request needs the datatable meta data provided on  @query-change to correctly filter and order list so I need to force @query-change with same payload from last refresh after add or remove a new register. How could I

[2021-03-19 14:39] areisyus commented on #138
To me it does't make any sense an API that deletes a register return a list in response and even if it was manageble how could we get the query-info to send in delete request (that shouldn't have a body at first)?

[2021-03-19 14:52] areisyus commented on #138
@thearabbit  Unfortunately it may not be useful for you anymore but maybe can help someone else in the future, it shold be documented somehow because it's not so evident (at last for new commers) bu the right way to do a simple refresh with same query-info must be getting a reference for datatableserver into your component using it and call queryChange on it passing a type that you choose to refer

[2021-08-10 08:06] BilendM opened #278 "Website is down?"
Not a bug, but https://www.njleonzhang.com/vue-data-tables is down

[2021-08-10 08:06] #278 closed

[2021-08-10 08:08] BilendM opened #279 "Website is down"
# Website is down. going to https://www.njleonzhang.com/vue-data-tables gives a connection timeout

# Expected behavior is for website to be accessible

[2021-08-10 08:08] #279 closed

[2021-08-10 08:10] BilendM opened #280 "Documentation website is down"
# Online reproduce
It is important to provide an online sample to reproduce the issue.
* [Template for reproducing front-end pagination issue](http://jsfiddle.net/zpczjl/9tp3z4bn/)
* [Template for reproducing server-end pagination issue](https://jsfiddle.net/zpczjl/xboja87c/)

Not a bug, but https://www.njleonzhang.com/vue-data-tables is down on my end. It gives me a connection timeout.

# Expecte

[2021-08-10 13:13] BilendM commented on #280
It's working now. Thanks!

[2021-08-10 13:13] #280 closed

[2021-09-02 01:39] yuniit opened #282 "Vue 3 support"
Hello, I really enjoy using this package, but my project has migrated to Vue 3.
more and more frameworks ,  projects only support Vue 3, and I wonder does this package will support Vue 3 anytime soon?

[2021-09-07 02:17] yuniit opened #283 "With element-ui On demand component"
How can I use vue-data-table without fully import element-ui component?

# Expected Behavior
Should be work after import element UI  to component

# Current Behavior
Error: Unknown custom element `<el-table>`,` <el-pagination>` etc ....

![Screenshot from 2021-09-07 09-18-14](https://user-images.githubusercontent.com/30621352/132274329-501c3a7e-7098-4912-80be-9170e80f6ab3.png)

# Steps to Reproduc

[2021-11-15 22:40] jggj21 commented on #153
Please can someone help me to solve it, I have the same problem as just filter on page 1, but I don't understand the solution they give with filter-change

[2021-11-15 22:40] jggj21 commented on #56
Please can someone help me to solve it, I have the same problem as just filter on page 1, but I don't understand the solution they give with filter-change

[2021-12-17 04:12] #283 closed

[2022-10-28 06:45] yaowenqiang opened #291 "官方文档打不开了"
Please follow the issue template, or your issue may be closed automatically.

**For bug report, provide the following section**

# Online reproduce
It is important to provide an online sample to reproduce the issue.
* [Template for reproducing front-end pagination issue](http://jsfiddle.net/zpczjl/9tp3z4bn/)
* [Template for reproducing server-end pagination issue](https://jsfiddle.net/zpczjl/xboja

[2022-11-23 06:01] njleonzhang commented on #291
已回复，域名忘记续费，被其他人抢注了 :-{

[2022-11-23 06:01] #291 closed